/* screen - 01-main */

.x01-main {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x01-main .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x01-main .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x01-main .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x01-main .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x01-main .overlap-group11 {
  align-items: center;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 0 170px;
  position: absolute;
  top: -2px;
}

.x01-main .navbar {
  align-items: flex-start;
  
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x01-main .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-main .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-main .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-main .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-main .overlap-group3 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 545px;
  min-width: 36px;
  padding: 8px 9px;
}

.x01-main .text-36 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 14px;
  text-align: center;
}

.x01-main .overlap-group1 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 38px;
  min-width: 36px;
  padding: 8px 10px;
}

.x01-main .text-34 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 9px;
  text-align: center;
}

.x01-main .overlap-group2 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 38px;
  min-width: 36px;
  padding: 7px 9px;
}

.x01-main .text-35 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 13px;
  text-align: center;
}

.x01-main .overlap-group {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 38px;
  min-width: 36px;
  padding: 8px;
}

.x01-main .text-33 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 14px;
  text-align: center;
}

.x01-main .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
  
}

.x01-main .flex-row {/*수정*/
  align-items: center;
  align-self: center;
  display: inline-flex;
  width: 1450px;
  background-color:rgb(31,39,78,0.8);
}

.x01-main .overlap-group9 {/*수정*/
  align-items: center;
  background-color: var(--blue-zodiac);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}
.x01-main .text-32 {/*수정*/
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-main .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-main .recommand {
  height: 31px;
  margin-left: 120px;
  margin-top: 8.0px;
  width: 174px;
}

.x01-main .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 148px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-main .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-main .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x01-main .view { /*수정*/
  align-items: center;
  background-color: #1B3240;
  display: flex;
  flex-direction: column;
  margin-top:20px;
  min-height: 300px;
  width: 1440px;
}

.x01-main .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  height: 300px;
  min-width: 1110px;
}

.x01-main .text-container {
  align-items: flex-start;
  background-color: #991F1F;
  display: flex;
  flex-direction: column;
  height:100%;
  padding: 79px 98px;
  width: 370px;
}

.x01-main .text-31 {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 64px;
  min-width: 64px;
  text-align: center;
}

.x01-main .text {
  letter-spacing: 0;
  margin-top: 22px;
  min-height: 49px;
  min-width: 173px;
  text-align: center;
}

.x01-main .text-container-1 {
  align-items: flex-start;
  background-color: #F3B743;
  display: flex;
  height:100%;
  flex-direction: column;
  min-height: 300px;
  padding: 79px 115px;
  width: 370px;
}

.x01-main .text-29 {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 7px;
  min-height: 74px;
  min-width: 68px;
  text-align: center;
}

.x01-main .text-28 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 49px;
  min-width: 139px;
  text-align: center;
}

.x01-main .text-container-2 {
  align-items: flex-end;
  background-color: #991F1F;
  display: flex;
  height:100%;
  flex-direction: column;
  min-height: 300px;
  padding: 79px 98px;
  width: 370px;
}

.x01-main .text-27 {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 2.0px;
  margin-top: 7px;
  min-height: 64px;
  min-width: 80px;
  text-align: center;
}

.x01-main .line-container {
  align-items: flex-start;
  display: flex;
  margin-top: 8px;
  min-width: 1111px;
}

.x01-main .line-3 {
  height: 300px;
  width: 1px;
}

.x01-main .line {
  height: 300px;
  margin-left: 369px;
  width: 1px;
}

.x01-main .about-checkmovie {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 1.0px;
  margin-top: 37px;
  min-width: 1109px;
}

.x01-main .overlap-group8 {
  height: 285px;
  position: relative;
  width: 1115px;
}

.x01-main .rectangle-19 {
  height: 13px;
  left: 1px;
  position: absolute;
  top: 53px;
  width: 355px;
}

.x01-main .about-checkmovie-1 {
  align-items: flex-end;
  display: flex;
  height: 285px;
  left: 0;
  min-width: 1115px;
  position: absolute;
  top: 0;
}

.x01-main .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 285px;
  width: 540px;
}

.x01-main .flex-row-1 {
  align-items: flex-end;
  display: flex;
  margin-left: 5px;
  min-width: 345px;
}

.x01-main .about {
  color: #00000099;
  font-family: var(--font-family-abhaya_libre_semibold-regular);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 47px;
  min-width: 102px;
  text-align: center;
}

.x01-main .checkmovie-container-1 {
  height: 54px;
  margin-left: 12px;
  position: relative;
  width: 231px;
}

.x01-main .checkmovie-2 {
  color: transparent;
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x01-main .checkmovie-3 {
  color: transparent;
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x01-main .recommend-a-book-tha {
  color: #777777;
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 31px;
  min-height: 200px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  width: 540px;
}

.x01-main .x1-promoting-the-di {
  color: #777777;
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 29px;
  min-height: 200px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  width: 540px;
}

.x01-main .coming-up {
  align-items: flex-start;
  display: flex;
  margin-top: 42px;
  min-width: 1440px;
}

.x01-main .overlap-group7 {
  height: 506px;
  position: relative;
  width: 1440px;
}

.x01-main .coming-up-1 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 506px;
  left: 0;
  min-width: 1440px;
  padding: 40px 165px;
  position: absolute;
  top: 0;
}

.x01-main .coming-up-container {
  height: 39px;
  position: relative;
  width: 239px;
}

.x01-main .coming-up-2 {
  left: 3px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 0;
  width: 236px;
}

.x01-main .coming-up-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 0;
  width: 236px;
}

.x01-main .item {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 165px;
  min-height: 254px;
  position: absolute;
  top: 107px;
  width: 256px;
}

.x01-main .overlap-group1-1 {
  align-items: center;
  background-color: var(--black-4);
  display: flex;
  height: 50px;
  margin-right: 2px;
  margin-top: 204px;
  min-width: 254px;
  padding: 0 63px;
}

.x01-main .about-time {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 116px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x01-main .item-1 {
  height: 254px;
  margin-right: -163px;
  margin-top: 825px;
  object-fit: cover;
  width: 254px;
}

.x01-main .item-2 {
  align-items: flex-end;
  display: flex;
  height: 254px;
  left: 1021px;
  min-width: 256px;
  position: absolute;
  top: 107px;
}

.x01-main .overlap-group2-1 {
  align-items: center;
  background-color: var(--black-4);
  display: flex;
  height: 50px;
  min-width: 254px;
  padding: 0 18px;
}

.x01-main .the-lord-of-the-rings {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 217px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x01-main .item-3 {
  height: 254px;
  margin-bottom: -1079px;
  margin-left: 767px;
  object-fit: cover;
  width: 254px;
}

.x01-main .item-4 {
  align-items: flex-end;
  display: flex;
  height: 254px;
  left: 734px;
  min-width: 256px;
  position: absolute;
  top: 107px;
}

.x01-main .overlap-group3-1 {
  align-items: center;
  background-color: var(--black-4);
  display: flex;
  height: 50px;
  min-width: 254px;
  padding: 0 40px;
}

.x01-main .the-great-gatsby {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 173px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x01-main .item-5 {
  height: 254px;
  margin-bottom: -1079px;
  margin-left: 480px;
  object-fit: cover;
  width: 254px;
}

.x01-main .item-6 {
  align-items: flex-end;
  display: flex;
  height: 254px;
  left: 450px;
  min-width: 256px;
  position: absolute;
  top: 107px;
}

.x01-main .overlap-group4 {
  align-items: center;
  background-color: var(--black-4);
  display: flex;
  height: 50px;
  min-width: 254px;
  padding: 0 63px;
}

.x01-main .name {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 126px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x01-main .item-7 {
  height: 254px;
  margin-bottom: -1079px;
  margin-left: 196px;
  width: 254px;
}

.x01-main .overlap-group5 {
  align-items: center;
  background-color: #00000033;
  border-radius: 4px;
  display: flex;
  height: 36px;
  left: 100px;
  min-width: 36px;
  padding: 0 13px;
  position: absolute;
  top: 217px;
}

.x01-main .text-24 {
  color: var(--white);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 9px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .next-btn {
  align-items: flex-start;
  display: flex;
  height: 36px;
  left: 1305px;
  min-width: 38px;
  position: absolute;
  top: 217px;
  transform: rotate(-180deg);
}

.x01-main .rectangle-18 {
  background-color: #00000033;
  border-radius: 4px;
  height: 36px;
  margin-left: -36px;
  margin-top: -36px;
  width: 36px;
}

.x01-main .text-25 {
  color: var(--white);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 4px;
  margin-top: -18px;
  min-height: 24px;
  min-width: 9px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .overlap-group6 {
  align-items: center;
  background-color: #000000cc;
  border-radius: 4px;
  display: flex;
  height: 60px;
  left: 598px;
  min-width: 243px;
  padding: 0 63px;
  position: absolute;
  top: 407px;
}

.x01-main .more-movies {
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 113px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .footer {
  align-items: flex-start;
  display: flex;
  height: 300px;
  margin-top: 82px;
  min-width: 1442px;
}

.x01-main .overlap-group-1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 1440px;
}

.x01-main .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x01-main .check-movie-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x01-main .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .recommand-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x01-main .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x01-main .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x01-main .overlap-group1-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x01-main .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}

/*swiper*/
.swiper {
  width: 70%;
  height: 50%;
  margin-top:100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

