/* screen - 03-recommand */

.x03-recommand {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x03-recommand .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x03-recommand .overlap-group6 {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x03-recommand .title {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x03-recommand .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x03-recommand .overlap-group7 {
  align-items: center;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 0 170px;
  position: absolute;
  top: -2px;
}

.x03-recommand .navbar {
  align-items: flex-start;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x03-recommand .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x03-recommand .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x03-recommand .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x03-recommand .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x03-recommand .overlap-group3 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 545px;
  min-width: 36px;
  padding: 8px 9px;
}

.x03-recommand .text-10 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 14px;
  text-align: center;
}

.x03-recommand .overlap-group1 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 38px;
  min-width: 36px;
  padding: 8px 10px;
}

.x03-recommand .text-8 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 9px;
  text-align: center;
}

.x03-recommand .overlap-group2 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 38px;
  min-width: 36px;
  padding: 7px 9px;
}

.x03-recommand .text-9 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 13px;
  text-align: center;
}

.x03-recommand .overlap-group {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 38px;
  min-width: 36px;
  padding: 8px;
}

.x03-recommand .text-7 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 14px;
  text-align: center;
}

.x03-recommand .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x03-recommand .flex-row {/*수정*/
  align-items: center;
  align-self: center;
  display: inline-flex;
  margin-top: 94px;
  margin-right: 118.0px;
  width: 100%;
  background-color: #1f274e ;
}

.x03-recommand .overlap-group5 {/*수정*/
  align-items: center;
  margin-left:10%;
  
  margin-top: 20px;
  height: 50px;
  min-width: 70px;
  padding: 0 17px;
}

.x03-recommand .text-6 {/*수정*/
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;

  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-recommand .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-recommand .recommand {
  height: 31px;
  margin-left: 120px;
  margin-top: 8.0px;
  width: 174px;
}

.x03-recommand .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 145px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-recommand .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-recommand .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x03-recommand .overlap-group9 {
  align-self: center;
  height: 1137px;
  margin-left: 12.0px;
  margin-top: 66px;
  position: relative;
  width: 1174px;
}

.x03-recommand .overlap-group4 {
  border-radius: 50px;
  height: 1137px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1174px;
}

.x03-recommand .coming-up {
  align-items: flex-start;
  background-color: #f4f5f7;
  border-radius: 50px;
  display: flex;
  height: 1137px;
  left: 0;
  min-width: 1174px;
  padding: 314px 485px;
  position: absolute;
  top: 0;
}

.x03-recommand .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--mischka);
  border: 3px solid var(--black-3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 24px 16px;
}

.x03-recommand .text-1 {
  color: var(--tulip-tree);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 40px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x03-recommand .next-btn {
  align-items: flex-start;
  display: flex;
  height: 100px;
  left: 985px;
  min-width: 102px;
  position: absolute;
  top: 360px;
  transform: rotate(-180deg);
}

.x03-recommand .rectangle-18 {
  background-color: var(--blue-zodiac-2);
  border-radius: 4px;
  height: 100px;
  margin-left: -100px;
  margin-top: -100px;
  width: 100px;
}

.x03-recommand .text-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 14.0px;
  min-height: 24px;
  min-width: 25px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .image-5 {
  height: 643px;
  left: 355px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 451px;
}

.x03-recommand .s_login {
  align-items: flex-end;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  left: 455px;
  min-width: 263px;
  position: absolute;
  top: 1058px;
}

.x03-recommand .ellipse-2 {
  height: 46px;
  margin-bottom: -1401px;
  object-fit: cover;
  width: 46px;
}

.x03-recommand .ellipse-4 {
  height: 46px;
  margin-bottom: -1401px;
  margin-left: 28px;
  object-fit: cover;
  width: 46px;
}

.x03-recommand .ellipse-3 {
  height: 46px;
  margin-bottom: -1401px;
  margin-left: 27px;
  object-fit: cover;
  width: 46px;
}

.x03-recommand .ellipse-1 {
  height: 46px;
  margin-bottom: -1401px;
  margin-left: 331px;
  object-fit: cover;
  width: 46px;
}

.x03-recommand .overlap-group1-1 {
  height: 105px;
  left: 76px;
  position: absolute;
  top: 360px;
  width: 100px;
}

.x03-recommand .rectangle-18-1 {
  background-color: var(--blue-zodiac-2);
  border-radius: 4px;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.x03-recommand .text-3 {
  left: 35px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 38px;
  width: 25px;
}

.x03-recommand .overlap-group2-1 {
  align-items: flex-start;
  background-color: var(--tulip-tree);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  left: 999px;
  min-width: 78px;
  padding: 25px 17px;
  position: absolute;
  top: 62px;
}

.x03-recommand .text {
  -webkit-text-stroke: 1px #f3b7421a;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 40px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .overlap-group3-1 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  left: 872px;
  min-width: 78px;
  padding: 25px 17px;
  position: absolute;
  top: 62px;
}

.x03-recommand .title-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 163px;
  min-height: 94px;
  position: absolute;
  top: 739px;
  width: 839px;
}

.x03-recommand .text-11 {
  letter-spacing: 0;
  line-height: 60px;
  margin-left: 55.0px;
  margin-top: 20px;
  min-height: 71px;
  text-align: justify;
  white-space: nowrap;
  width: 702px;
}

.x03-recommand .title-2 {
  height: 102px;
  margin-right: 2.0px;
  margin-top: 991px;
  width: 845px;
}

.x03-recommand .overlap-group8 {
  height: 143px;
  left: 49px;
  position: absolute;
  top: 876px;
  width: 1061px;
}

.x03-recommand .rectangle-19 {
  background-color: var(--blue-zodiac-2);
  border-radius: 4px;
  height: 143px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 939px;
}

.x03-recommand .text-12 {
  color: #f4f5f7;
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 1061px;
}

.x03-recommand .footer {
  align-items: flex-start;
  display: flex;
  height: 300px;
  margin-top: 80px;
  min-width: 1442px;
}

.x03-recommand .overlap-group-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 1440px;
}

.x03-recommand .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x03-recommand .check-movie-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x03-recommand .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .recommand-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x03-recommand .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x03-recommand .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommand .overlap-group1-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x03-recommand .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
