/* screen - 03-recommend */

.x03-recommend {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x03-recommend .overlap-group-container {
  height: 207px;
  margin-left: 4.0px;
  position: relative;
  width: 1444px;
}

.x03-recommend .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x03-recommend .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x03-recommend .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x03-recommend .overlap-group4 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x03-recommend .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x03-recommend .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x03-recommend .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x03-recommend .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x03-recommend .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x03-recommend .overlap-group {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x03-recommend .text-77 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x03-recommend .left_-bar {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x03-recommend .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 118.0px;
  min-width: 1202px;
}

.x03-recommend .overlap-group2 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x03-recommend .text-76 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-recommend .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-recommend .recommend {
  height: 31px;
  margin-left: 121px;
  margin-top: 8.0px;
  width: 173px;
}

.x03-recommend .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 146px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-recommend .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-recommend .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x03-recommend .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 18.0px;
  margin-top: 25px;
  min-width: 1236px;
}

.x03-recommend .overlap-group7 {
  height: 69px;
  position: relative;
  width: 739px;
}

.x03-recommend .ellipse-7 {
  background-color: var(--blue-zodiac-3);
  border: 2px solid var(--blue-zodiac);
  border-radius: 26px;
  height: 52px;
  left: 687px;
  position: absolute;
  top: 9px;
  width: 52px;
}

.x03-recommend .overlap-group5 {
  height: 69px;
  left: 0;
  position: absolute;
  top: 0;
  width: 688px;
}

.x03-recommend .rectangle-30 {
  background-color: var(--mischka);
  height: 25px;
  left: 29px;
  position: absolute;
  top: 38px;
  width: 634px;
}

.x03-recommend .x000s-recommendation-list {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 688px;
}

.x03-recommend .text-85 {
  left: 703px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 19px;
}

.x03-recommend .overlap-group8 {
  align-items: flex-start;
  background-image: url(../img/image-14@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 14px;
  min-width: 483px;
  padding: 11px 28px;
}

.x03-recommend .c {
  color: var(--white);
  font-family: var(--font-family-abhaya_libre_semibold-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 36px;
  text-align: center;
  width: 401px;
}

.x03-recommend .recommendation-list-box {
  align-items: flex-start;
  display: flex;
  margin-left: 0.19px;
  margin-top: 25px;
  min-width: 1350px;
}

.x03-recommend .overlap-group6 {
  height: 1137px;
  position: relative;
  width: 1350px;
}

.x03-recommend .overlap-group5-1 {
  height: 1137px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1350px;
}

.x03-recommend .coming-up {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  height: 1137px;
  left: 79px;
  min-width: 1174px;
  padding: 314px 485px;
  position: absolute;
  top: 0;
}

.x03-recommend .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 24px 16px;
}

.x03-recommend .text-78 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 40px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x03-recommend .next-btn {
  align-items: flex-start;
  display: flex;
  height: 100px;
  left: 1064px;
  min-width: 102px;
  position: absolute;
  top: 360px;
  transform: rotate(-180deg);
}

.x03-recommend .rectangle-18 {
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  height: 100px;
  margin-left: -100px;
  margin-top: -100px;
  width: 100px;
}

.x03-recommend .text-79 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 14.0px;
  min-height: 24px;
  min-width: 25px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .s_login {
  align-items: flex-end;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  left: 534px;
  min-width: 263px;
  position: absolute;
  top: 1058px;
}

.x03-recommend .ellipse-2 {
  height: 46px;
  margin-bottom: -1454px;
  object-fit: cover;
  width: 46px;
}

.x03-recommend .ellipse-4 {
  height: 46px;
  margin-bottom: -1454px;
  margin-left: 28px;
  object-fit: cover;
  width: 46px;
}

.x03-recommend .ellipse-3 {
  height: 46px;
  margin-bottom: -1454px;
  margin-left: 27px;
  object-fit: cover;
  width: 46px;
}

.x03-recommend .ellipse-1 {
  height: 46px;
  margin-bottom: -1454px;
  margin-left: 316px;
  object-fit: cover;
  width: 46px;
}

.x03-recommend .overlap-group1 {
  height: 105px;
  left: 155px;
  position: absolute;
  top: 360px;
  width: 100px;
}

.x03-recommend .rectangle-18-1 {
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.x03-recommend .text-80 {
  left: 35px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 38px;
  width: 25px;
}

.x03-recommend .overlap-group2-1 {
  align-items: flex-start;
  background-color: var(--tulip-tree);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  left: 1078px;
  min-width: 78px;
  padding: 25px 17px;
  position: absolute;
  top: 62px;
}

.x03-recommend .text-8 {
  -webkit-text-stroke: 1px var(--tulip-tree-2);
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 40px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .overlap-group3 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  left: 951px;
  min-width: 78px;
  padding: 25px 17px;
  position: absolute;
  top: 62px;
}

.x03-recommend .overlap-group4-1 {
  height: 162px;
  left: 0;
  position: absolute;
  top: 874px;
  width: 1350px;
}

.x03-recommend .rectangle-19 {
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  height: 150px;
  left: 106px;
  position: absolute;
  top: 0;
  width: 1124px;
}

.x03-recommend .text-83 {
  color: var(--cultured-pearl);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 1350px;
}

.x03-recommend .title {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 259px;
  min-height: 94px;
  position: absolute;
  top: 748px;
  width: 839px;
}

.x03-recommend .text-84 {
  letter-spacing: 0;
  line-height: 60px;
  margin-right: 7.0px;
  margin-top: 11px;
  min-height: 71px;
  text-align: justify;
  white-space: nowrap;
  width: 282px;
}

.x03-recommend .title-1 {
  height: 102px;
  margin-right: 2.0px;
  margin-top: 1062px;
  width: 845px;
}

.x03-recommend .image-9 {
  height: 673px;
  left: 413px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 457px;
}

.x03-recommend .footer {
  align-items: flex-start;
  display: flex;
  height: 300px;
  margin-left: 2.0px;
  margin-top: 27px;
  min-width: 1442px;
}

.x03-recommend .overlap-group-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 1440px;
}

.x03-recommend .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x03-recommend .check-movie-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x03-recommend .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x03-recommend .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x03-recommend .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x03-recommend .overlap-group1-1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x03-recommend .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
