/* screen - 05-signup */

.x05-signup {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x05-signup .overlap-group15 {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x05-signup .overlap-group3 {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x05-signup .title {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x05-signup .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x05-signup .navbar-link-container {
  align-items: flex-end;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  left: -2px;
  min-width: 1444px;
  padding: 12px 171px;
  position: absolute;
  top: -2px;
}

.x05-signup .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x05-signup .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x05-signup .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  color: var(--cornflower-lilac);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-s);
  font-weight: 700;
}

.x05-signup .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x05-signup .overlap-group12 {
  align-items: flex-start;
  border-color: #1F274E;/*구현안됨*/
  border-width: 5px; /*구현안됨*/
  background-color: #CFD8DC;
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 965px;
  min-width: 332px;
  padding: 6px 10px;
  position: absolute;
  top: 4px;
}

.x05-signup .text-8 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x05-signup .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x05-signup .flex-row {
  align-items: center;
  align-self: center;
  display: inline-flex;
  width: 1450px;
  background-color:rgb(31,39,78,0.8);
}

.x05-signup .overlap-group2 {
  align-items: center;
  background-color: var(--blue-zodiac);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x05-signup .text-1 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x05-signup .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x05-signup .recommand {
  height: 31px;
  margin-left: 120px;
  margin-top: 8.0px;
  width: 174px;
}

.x05-signup .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 145px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x05-signup .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x05-signup .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x05-signup .overlap-group14 {
  height: 1283px;
  margin-left: -2px;
  position: relative;
  width: 1440px;
}

.x05-signup .logo-bg {
  background-color: var(--white);
  border-radius: 90px;
  height: 180px;
  left: 630px;
  position: absolute;
  top: 109px;
  width: 180px;
}

.x05-signup .rounded-rectangle {
  background-color: #F4F5F7;
  border-radius: 50px;
  height: 1157px;
  left: 106px;
  position: absolute;
  top: 63px;
  width: 1235px;
}

.x05-signup .overlap-group5 {
  align-items: flex-start;
  background-color: #f3b742cc;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  height: 110px;
  justify-content: flex-end;
  left: 104px;
  min-width: 1235px;
  padding: 38px 498px;
  position: absolute;
  top: 1110px;
}

.x05-signup .back-to-login {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  min-height: 33px;
  min-width: 170px;
  text-align: center;
}

.x05-signup .span0-1 {
  color: var(--white);
}

.x05-signup .mask-group {
  height: 198px;
  left: 106px;
  position: absolute;
  top: 63px;
  width: 1235px;
}

.x05-signup .overlap-group6 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 243px;
  min-width: 1002px;
  padding: 0 29px;
  position: absolute;
  top: 840px;
}

.x05-signup .text-2 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x05-signup .email-address {
  letter-spacing: 0;
  margin-left: 24px;
  margin-top: 1.0px;
  min-height: 28px;
  min-width: 154px;
  text-align: center;
}

.x05-signup .overlap-group7 {
  align-items: center;
  background-color: #991f1fb2;
  border-radius: 8px;
  display: flex;
  height: 99px;
  justify-content: flex-end;
  left: 243px;
  min-width: 1002px;
  padding: 0 438px;
  position: absolute;
  top: 975px;
}

.x05-signup .sign-up {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 35px;
  min-width: 116px;
  text-align: center;
  text-shadow: 1px 1px 1px #00000040;
}

.x05-signup .overlap-group8 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 243px;
  min-width: 1002px;
  padding: 30px 29px;
  position: absolute;
  top: 704px;
}

.x05-signup .text-3 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 28px;
  text-align: center;
}

.x05-signup .password {
  letter-spacing: 0;
  margin-left: 26px;
  min-height: 28px;
  min-width: 107px;
  text-align: center;
}

.x05-signup .overlap-group9 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 243px;
  min-width: 1002px;
  padding: 0 25px;
  position: absolute;
  top: 571px;
}

.x05-signup .text-4 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 36px;
  text-align: center;
}

.x05-signup .id {
  letter-spacing: 0;
  margin-left: 23px;
  margin-top: 1.0px;
  min-height: 28px;
  min-width: 23px;
  text-align: center;
}

.x05-signup .gender {
  align-items: center;
  display: flex;
  height: 99px;
  justify-content: flex-end;
  left: 758px;
  min-width: 491px;
  position: absolute;
  top: 441px;
}

.x05-signup .text-5 {
  color: var(--black-4);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 1.0px;
  min-height: 32px;
  min-width: 20px;
  text-align: center;
}

.x05-signup .gender-1 {
  letter-spacing: 0;
  margin-bottom: 3.0px;
  margin-left: 30px;
  min-height: 28px;
  min-width: 77px;
  text-align: center;
}

.x05-signup .rectangle-28 {
  align-self: flex-end;
  height: 99px;
  margin-bottom: -718px;
  margin-left: 596px;
  width: 487px;
}

.x05-signup .overlap-group10 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 243px;
  min-width: 487px;
  padding: 30px 23px;
  position: absolute;
  top: 442px;
}

.x05-signup .text-6 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 40px;
  text-align: center;
}

.x05-signup .age {
  align-self: center;
  letter-spacing: 0;
  margin-left: 21px;
  margin-top: 1.0px;
  min-height: 28px;
  min-width: 42px;
  text-align: center;
}

.x05-signup .overlap-group11 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 243px;
  min-width: 1002px;
  padding: 30px 27px;
  position: absolute;
  top: 311px;
}

.x05-signup .text-7 {
  align-self: flex-end;
  color: var(--black-4);
  font-family: var(--font-family-font_awesome_5_free-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 37px;
  min-width: 31px;
  text-align: center;
}

.x05-signup .place {
  letter-spacing: 0;
  margin-left: 25px;
  margin-top: 1.0px;
  min-height: 28px;
  min-width: 64px;
  text-align: center;
}

.x05-signup .overlap-group13 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 95px;
  display: flex;
  height: 190px;
  left: 649px;
  min-width: 190px;
  padding: 17.0px 17px;
  position: absolute;
  top: 88px;
}

.x05-signup .rectangle-29 {
  height: 136px;
  object-fit: cover;
  width: 136px;
}

.x05-signup .footer {
  align-items: flex-start;
  display: flex;
  height: 300px;
  min-width: 1442px;
}

.x05-signup .overlap-group {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 1440px;
}

.x05-signup .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x05-signup .check-movie-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x05-signup .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .recommand-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x05-signup .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x05-signup .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x05-signup .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x05-signup .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
/*숨겨진 메뉴*/
.overlap-group13 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 0;
  transition: 0.5s ease;
  z-index: 1;
}

.ham-menu{
  align-items: center;
  background-color: #1f274ecc;
  display: flex;
  height: 400px;
  left: 0;
  min-width: 1440px;
  padding: 31px 72px;
  position: absolute;
  top: 0;
}

.ham-menu.place {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.check-movie-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 65.0px;
  margin-left: 139px;
  min-height: 123px;
  width: 143px;
}

.ham-menu.check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 6.0px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 18.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 23.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.recommand-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 116.0px;
  margin-left: 119px;
  min-height: 72px;
  width: 210px;
}

.ham-menu.recommand-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 11.0px;
  min-height: 24px;
  min-width: 133px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.recommand-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.my-book-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 58px;
  min-height: 174px;
  width: 284px;
}

.ham-menu.my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .shop-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 107px;
  min-height: 174px;
  width: 88px;
}

.ham-menu .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .line-5 {
  height: 6px;
  left: 59px;
  position: static;
  top: 59px;
  width: 83px;
}

.ham-menu  .line-6 {
  height: 6px;
  left: 246px;
  position: static;
  top: 136px;
  width: 176px;
}

.ham-menu  .line-7 {
  height: 6px;
  left: 541px;
  position: static;
  top: 136px;
  width: 176px;
}

.ham-menu  .line-8 {
  height: 6px;
  left: 857px;
  position: static;
  top: 136px;
  width: 156px;
}

.ham-menu  .line-9 {
  height: 6px;
  left: 1169px;
  position: static;
  top: 136px;
  width: 126px;
}

.ham-menu .line-10 {
  height: 1px;
  left: 0;
  position: static;
  top: 70px;
  width: 1440px;
}

/*햄버거*/
/* input 중에 id가 trigger인 항목에 대한 css */
input[id=trigger] {
  display: none;
}

/* label 중에 for가 trigger인 항목 */
label[for=trigger] {
  /* border: 1px solid red; */
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}

/* label 중에 for가 trigger인 항목 안의 span */
label[for=trigger] span {
  display: block;
  height: 5px;
  background-color: #F3B743;
  left: 0;
  width: 100%;
  position: absolute;
  transition: 0.3s;
  z-index: 1000; 
}

/* label[for=trigger] > span의 n번째 요소 */
label[for=trigger] span:nth-child(1) {
  top:0;
}

label[for=trigger] span:nth-child(2) {
  top:50%;
}

label[for=trigger] span:nth-child(3) {
  top:100%;
}

/* check시 변하는 label[for=trigger] > span의 n번째 요소  */
input[id=trigger]:checked + label span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

input[id=trigger]:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id=trigger]:checked + label span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
input[id=trigger]:checked ~ .overlap-group13 {
  left: 27px;
  top:277px;
}

/* check시 같이 밀려나가는 CSS 햄버거 메뉴 */
input[id=trigger]:checked + label[for=trigger] {
  transition: 0.3s;
}