/* screen - 06-search */

.x06-search {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x06-search .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x06-search .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x06-search .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x06-search .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x06-search .overlap-group5 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x06-search .navbar {
  align-items: flex-start;
  
  display: flex;
  height: 19px;
  margin-top: 4.0px;
  min-width: 300px;
}

.x06-search .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x06-search .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x06-search .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x06-search .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x06-search .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}
.text-33{
  color: var(--blue-zodiac);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.x06-search .text-188 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
  color: var(--blue-zodiac);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.x06-search .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x06-search .flex-row {
  align-items: center;
  align-self: center;
  display: inline-flex;
  width: 1450px;
  background-color: rgb(31,39,78,0.8);
}

.x06-search .overlap-group9 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x06-search .text-187 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x06-search .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x06-search .recommand {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 166px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x06-search .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 149px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x06-search .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x06-search .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x06-search .flex-row-1 {
  align-items: center;
  display: flex;
  margin-left: -1px;
  min-width: 1350px;
}

.x06-search .overlap-group21 {
  height: 1283px;
  position: relative;
  width: 371px;
}

.x06-search .overlap-group2 {
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x06-search .feature-bg {
  background-color: #1B3240;
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 394px;
}

.x06-search .view {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 66px;
  min-width: 219px;
  position: absolute;
  top: 313px;
}

.x06-search .text-182 {
  letter-spacing: 0;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
  color: var(--white);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.x06-search .text-181 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 60px;
  min-height: 32px;
  min-width: 115px;
  text-align: center;
  color: var(--white);
    font-family: var(--font-family-abril_fatface);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.x06-search .view-1 {
  align-items: center;
  display: flex;
  height: 37px;
  left: 65px;
  min-width: 194px;
  position: absolute;
  top: 231px;
}

.x06-search .text-184 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 34px;
  text-align: center;
  color: var(--white);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.x06-search .text-183 {
  letter-spacing: 0;
  margin-left: 63px;
  margin-top: 1.0px;
  min-height: 32px;
  min-width: 93px;
  text-align: center;
  color: var(--white);
    font-family: var(--font-family-abril_fatface);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.x06-search .view-2 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  left: 71px;
  min-width: 210px;
  position: absolute;
  top: 154px;
}

.x06-search .text-186 {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 21px;
  color: var(--white);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.x06-search .text-185 {
  letter-spacing: 0;
  margin-left: 70px;
  margin-top: 0;
  min-height: 32px;
  text-align: center;
  width: 115px;
  color: var(--white);
    font-family: var(--font-family-abril_fatface);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.x06-search .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 61px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 79px;
}

.x06-search .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .line-5-1 {
  height: 6px;
  margin-left: 3.77px;
  margin-top: 7px;
  width: 83px;
}

.x06-search .rectangle-22 {
  background-color: var(--white);
  border-radius: 5px;
  height: 487px;
  left: 28px;
  position: absolute;
  top: 399px;
  width: 313px;
  border: 3px solid var(--tulip-tree);
}

.x06-search .line-10 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 370px;
}

.x06-search .view-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 52px;
  min-height: 58px;
  position: absolute;
  top: 427px;
  width: 234px;
}

.x06-search .flex-row-2 {
  align-items: flex-end;
  display: flex;
  height: 25px;
  margin-left: 2px;
  min-width: 188px;
}

.x06-search .overlap-group7 {
  height: 24px;
  position: relative;
  width: 142px;
}

.x06-search .rectangle-30 {
  background-color: var(--mischka);
  height: 12px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 142px;
}

.x06-search .text-193 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  color: var(--vulcan);
    font-family: var(--font-family-font_awesome_6_free-solid);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.x06-search .text-190 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 25px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  width: 35px;
  color: var(--tulip-tree);
    font-family: var(--font-family-font_awesome_6_free-solid);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.x06-search .text-192 {
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 10px;
  text-align: center;
  width: 228px;
  color: var(--black-5);
  font-family: var(--font-family-font_awesome_6_free-regular);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.x06-search .text-191 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 5px;
  min-height: 13px;
  width: 158px;color: var(--tulip-tree);
  font-family: var(--font-family-abril_fatface);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.x06-search .x {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 48px;
  min-height: 327px;
  position: absolute;
  top: 512px;
  width: 44px;
}

.x06-search .overlap-group10 {
  height: 21px;
  margin-left: 6.55px;
  position: relative;
  width: 16px;
}

.x06-search .number-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 11px;
}

.x06-search .ellipse {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 1px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x06-search .overlap-group {
  height: 21px;
  margin-left: 6.55px;
  margin-top: 13px;
  position: relative;
  width: 16px;
}

.x06-search .number {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 13px;
}

.x06-search .overlap-group-1 {
  height: 21px;
  margin-left: 4.36px;
  margin-top: 13px;
  position: relative;
  width: 19px;
}

.x06-search .number-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 15px;
}

.x06-search .ellipse-1 {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 4px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x06-search .overlap-group13 {
  height: 21px;
  margin-top: 13px;
  position: relative;
  width: 24px;
}

.x06-search .number-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 24px;
}

.x06-search .ellipse-15 {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 8px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x06-search .x-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 89px;
  min-height: 324px;
  position: absolute;
  top: 515px;
  width: 220px;
}

.x06-search .check-movie-1 {
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 18px;
  min-width: 107px;
  text-align: center;
}

.x06-search .line-5 {
  align-self: flex-end;
  height: 6px;
  margin-right: 6.23px;
  width: 126px;
}

.x06-search .text-199 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 8px;
  min-height: 18px;
}

.x06-search .line-6 {
  align-self: flex-end;
  height: 6px;
  margin-right: -23.77px;
  margin-top: 1px;
  width: 156px;
}

.x06-search .text-201 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 20px;
  min-width: 36px;
  text-align: center;
}

.x06-search .line-7 {
  align-self: center;
  height: 6px;
  margin-left: 1.77px;
  width: 46px;
}

.x06-search .text-20 {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 10px;
  min-height: 18px;
}

.x06-search .line-7-1 {
  align-self: center;
  height: 6px;
  margin-left: 51.77px;
  width: 96px;
}

.x06-search .line-8 {
  align-self: center;
  height: 6px;
  margin-left: 36.77px;
  width: 81px;
}

.x06-search .text-20-1 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 10px;
  min-height: 18px;
}

.x06-search .line-9 {
  align-self: flex-end;
  height: 6px;
  margin-right: -73.77px;
  width: 206px;
}

.x06-search .text-200 {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 8px;
  min-height: 20px;
  min-width: 64px;
  text-align: center;
}

.x06-search .line-10-1 {
  align-self: center;
  height: 6px;
  margin-left: 31.77px;
  width: 76px;
}

.x06-search .text-206 {
  letter-spacing: 0;
  margin-left: 5px;
  margin-top: 9px;
  min-height: 18px;
}

.x06-search .line-6-1 {
  align-self: flex-end;
  height: 6px;
  margin-right: 11.23px;
  width: 121px;
}

.x06-search .text-205 {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 11px;
  min-height: 18px;
}

.x06-search .line-11 {
  align-self: flex-end;
  height: 6px;
  margin-right: -8.77px;
  width: 141px;
}

.x06-search .updown-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 304px;
  min-height: 323px;
  position: absolute;
  top: 515px;
  width: 33px;
}

.x06-search .text-217 {
  height: 12px;
  letter-spacing: 0;
  text-align: center;
  width: 13px;
}

.x06-search .text-216 {
  height: 12px;
  letter-spacing: 0;
  margin-top: 21px;
  text-align: center;
  width: 13px;
}

.x06-search .text-215 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 24px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
  color: var(--red);
    font-family: var(--font-family-font_awesome_5_free-solid);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
}

.x06-search .text-214 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 14px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
  color: var(--red);
    font-family: var(--font-family-font_awesome_5_free-solid);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
}

.x06-search .text-213 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 19px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x06-search .text-212 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 17px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
  color: var(--red);
    font-family: var(--font-family-font_awesome_5_free-solid);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
}

.x06-search .text-211 {
  height: 12px;
  letter-spacing: 0;
  margin-top: 16px;
  text-align: center;
  width: 13px;
}

.x06-search .text-210 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 23px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x06-search .text-209 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
  color: var(--red);
    font-family: var(--font-family-font_awesome_5_free-solid);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
}

.x06-search .text-208 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 18px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x06-search .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 29.0px;
  margin-left: 79px;
  min-height: 1156px;
  width: 900px;
}

.x06-search .overlap-group27 {
  align-self: center;
  height: 68px;
  margin-left: 9.61px;
  position: relative;
  width: 870px;
}

.x06-search .overlap-group6 {
  height: 74px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 873px;
}

.x06-search .rectangle-22-1 {
  background-color: #cfd8dcd9;
  border-radius: 5px;
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 866px;
  overflow: hidden;
}

.x06-search .text-189 {
  color: var(--blue-zodiac);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 775px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 98px;
}

.x06-search .text-194 {
  color: var(--black);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 21px;
}

.x06-search .view-4 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  min-height: 38px;
  width: 900px;
}

.x06-search .flex-row-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 20.0px;
  min-width: 736px;
}

.x06-search .all {
  align-items: flex-end;
  display: flex;
  height: 32px;
  min-width: 75px;
}

.x06-search .text-19 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 24px;
  text-align: center;
  color: var(--black);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.x06-search .all-1 {
  color: var(--vulcan);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 32px;
  min-width: 32px;
  text-align: center;
}

.x06-search .movie {
  align-items: flex-end;
  display: flex;
  height: 32px;
  margin-left: 118px;
  min-width: 109px;
}

.x06-search .movie-1 {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 32px;
  min-width: 66px;
  text-align: center;
}

.x06-search .book {
  align-items: flex-end;
  display: flex;
  height: 32px;
  margin-left: 118px;
  min-width: 97px;
}

.x06-search .text-197 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 21px;
  text-align: center;
  color: var(--black);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.x06-search .book-1 {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 32px;
  min-width: 57px;
  text-align: center;
}

.x06-search .more-1 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 118px;
  min-width: 101px;
}

.x06-search .text-198 {
  letter-spacing: 0;
  margin-top: 2.0px;
  min-height: 28px;
  min-width: 24px;
  text-align: center;
  color: var(--black);
    font-family: var(--font-family-font_awesome_5_free-solid);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.x06-search .place-1 {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 32px;
  min-width: 58px;
  text-align: center;
}

.x06-search .image {
  height: 9px;
  margin-right: -454.77px;
  width: 906px;
}

.x06-search .text-219 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 36px;
  letter-spacing: 0;
  margin-left: 18px;
  margin-top: 36px;
  min-height: 44px;
}

.x06-search .span-1 {
  font-weight: 400;
  width: 1000px;
}

.x06-search .span-2 {
  font-weight: 600;
}

.x06-search .view-5 {
  background-color: var(--tulip-tree);
  height: 6px;
  margin-left: 18px;
  margin-top: 1px;
  width: 234px;
}

.x06-search .overlap-group19 {
  height: 40px;
  margin-left: 18px;
  margin-top: 38px;
  position: relative;
  width: 364px;
}

.x06-search .image-1 {
  height: 19px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 364px;
}

.x06-search .text-218 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x06-search .overlap-group24 {
  height: 30px;
  margin-left: 18px;
  margin-top: 38px;
  position: relative;
  width: 296px;
}

.x06-search .rectangle-19 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 296px;
}

.x06-search .text-221 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x06-search .text-220 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 31px;
  min-height: 24px;
  min-width: 863px;
}

.x06-search .line-5-2 {
  height: 1px;
  margin-top: 27px;
  width: 900px;
}

.x06-search .overlap-group26 {
  height: 30px;
  margin-left: 18px;
  margin-top: 43px;
  position: relative;
  width: 603px;
}

.x06-search .rectangle-23 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 603px;
}

.x06-search .text-222 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x06-search .text-22 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 8.0px;
  margin-top: 31px;
  min-height: 48px;
  width: 856px;
}

.x06-search .line-1 {
  height: 1px;
  margin-top: 44px;
  width: 900px;
}

.x06-search .overlap-group25 {
  height: 30px;
  margin-left: 18px;
  margin-top: 43px;
  position: relative;
  width: 239px;
}

.x06-search .rectangle-24 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 239px;
}

.x06-search .yes24 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x06-search .overlap-group22 {
  height: 30px;
  margin-left: 18px;
  margin-top: 30px;
  position: relative;
  width: 128px;
}

.x06-search .rectangle-25 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 128px;
}

.x06-search .text-225 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x06-search .text-226 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 72px;
  width: 856px;
}

.x06-search .line-14 {
  height: 1px;
  margin-top: 37px;
  width: 900px;
}

.x06-search .overlap-group18 {
  align-self: center;
  height: 23px;
  margin-left: 44.0px;
  margin-top: 72px;
  position: relative;
  width: 726px;
}

.x06-search .view-6 {
  background-color: var(--tulip-tree);
  height: 9px;
  left: 210px;
  position: absolute;
  top: 14px;
  width: 19px;
}

.x06-search .pagebutton {
  align-items: flex-start;
  display: flex;
  height: 23px;
  left: 0;
  min-width: 726px;
  position: absolute;
  top: 0;
}

.x06-search .text-227 {
  color: var(--black);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 23px;
  min-width: 13px;
}

.x06-search .text-228 {
  color: var(--black);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 696px;
  min-height: 23px;
}

.x06-search .number-4 {
  left: 215px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
}

.x06-search .number-5 {
  left: 287px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 14px;
}

.x06-search .number-6 {
  left: 363px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 13px;
}

.x06-search .number-7 {
  left: 438px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 16px;
}

.x06-search .number-8 {
  color: var(--black);
  font-family: var(--font-family-font_awesome_6_free-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 516px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
}

.x06-search .overlap-group20 {
  height: 300px;
  position: relative;
  width: 1442px;
}

.x06-search .overlap-group-3 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x06-search .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x06-search .check-movie-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x06-search .check-movie-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x06-search .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x06-search .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .yes24-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x06-search .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}

.x06-search .line-11-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}
/*숨겨진 메뉴*/
.overlap-group13 {
  position: absolute;
  height: 100%;
  max-width: 0;
  transition: 0.5s ease;
  z-index: 1000;
  width: 1440px;
}

.ham-menu{
  align-items: center;
  background-color: #1f274ecc;
  display: flex;
  height: 400px;
  left: 0;
  min-width: 1440px;
  padding: 31px 72px;
  position: absolute;
  margin-top: -32px;
  top: 0;
}

.ham-menu .place {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .check-movie-11 {
  align-items: center;
  flex-direction: column;
  margin-bottom: 65.0px;
  margin-left: 120px;
  min-height: 123px;
  display:flex;
}

.ham-menu .check-movie-21 {
  letter-spacing: 0;
  line-height: 24px;

  min-height: 24px;
  min-width: 137px;
  width: 100%;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 18.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 23.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .recommand-11 {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 30px;
  min-height: 72px;
  width: 100%;
  margin-bottom: 120px;
}

.ham-menu.recommand-21 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 133px;
  text-align: justify;
  white-space: nowrap;
  width: 300px;
}

.ham-menu .recommand-result {
  display:flex;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu > .my-book-1 {
  align-items: center;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 58px;
  min-height: 174px;
  width: 284px;

}

.ham-menu.my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu > .shop-1 {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 120px;
  min-height: 174px;
  width: 88px;
  padding-right: 250px;
}

.ham-menu .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .yes241 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .line-5 {
  height: 6px;
  left: 59px;
  position: inherit;
  top: 59px;
  width: 83px;
}

.ham-menu  .line-6 {
  height: 6px;
  left: 246px;
  position: inherit;
  top: 136px;
  width: 176px;
}

.ham-menu  .line-7 {
  height: 6px;
  left: 541px;
  position: inherit;
  top: 136px;
  width: 176px;
}

.ham-menu  .line-8 {
  height: 6px;
  left: 857px;
  position: inherit;
  top: 136px;
  width: 156px;
}

.ham-menu .line-9 {
  height: 6px;
  left: 1169px;
  position: inherit;
  top: 136px;
  width: 126px;
}

.ham-menu .line-10 {
  height: 1px;
  left: 0;
  position: inherit;
  top: 70px;
  width: 1440px;
  z-index: 80;
}

/*햄버거*/
/* input 중에 id가 trigger인 항목에 대한 css */
input[id=trigger] {
  display: none;
}

/* label 중에 for가 trigger인 항목 */
label[for=trigger] {
  /* border: 1px solid red; */
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}

/* label 중에 for가 trigger인 항목 안의 span */
label[for=trigger] span {
  display: block;
  height: 5px;
  background-color: #F3B743;
  left: 0;
  width: 100%;
  position: absolute;
  transition: 0.3s;
  z-index: 1000; 
}

/* label[for=trigger] > span의 n번째 요소 */
label[for=trigger] span:nth-child(1) {
  top:0;
}

label[for=trigger] span:nth-child(2) {
  top:50%;
}

label[for=trigger] span:nth-child(3) {
  top:100%;
}

/* check시 변하는 label[for=trigger] > span의 n번째 요소  */
input[id=trigger]:checked + label span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

input[id=trigger]:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id=trigger]:checked + label span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

label[for=trigger] ~ .overlap-group13 {
  display: none;
  position: relative;
  width: 100%;
  top: 70px;
}
/* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
input[id=trigger]:checked ~ .overlap-group13 {
  display: block;
  position: relative;
  width: 100%;
  margin-left:-50px;
}
.text-33 {
  color: var(--blue-zodiac);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
/* check시 같이 밀려나가는 CSS 햄버거 메뉴 */
input[id=trigger]:checked + label[for=trigger] {
  transition: 0.2s;
}



/*글자 hover시에 색 바뀌게*/
.check-movie:hover{
  color: #FFABAB;
}
.recommand:hover{
  color: #FFABAB;
}
.my-book:hover{
  color: #FFABAB;
}
.shop:hover{
  color: #FFABAB;
}
/* input */
.input-box{
  border: none;
  height: 100%;
  width: 100%;
}
input:focus {outline:none;}
.input-q{
  background-color: #CFD8DC;
}
.search-box{
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
  border: 3px solid #1F274E;
  border-radius: 5px;
}
/*input button*/
.page-b{
  z-index: -1;
  width: 50px;
  margin-bottom: 20px;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
}
.b_b{
  text-align: center;
  top: 20px;
  left: 20px;
  position: absolute;
}
.b_b1{
  text-align: center;
  top: 20px;
  left: 770px;

  position: absolute;
}
/*************************************************************************/
  /*************************************************************************/
  /*click event*/
  .overlap-group-33 {
    height: 20px;
      position: absolute;
      width: 509px;
      margin-left: 250px;
    }
    input[type='radio'] {
      appearance: none;
    }
  .view-0 {
 
    height: 9px;
  
    margin-left: -5px;
    position: absolute;
    top: 11px;
    width: 19px;
    z-index: 20;
  }
 
  .view2 {
    background-color: transparent;
    height: 9px;
  
    margin-left: 75px;
    position: absolute;
    top: 11px;
    width: 19px;
    z-index: 20;
  }
  
  .view3 {
    background-color: transparent;
    height: 9px;
    margin-left: 155px;
    position: absolute;
    top: 11px;
    width: 19px; z-index: 20;
  }
  
  .view4 {
    background-color: transparent;
    height: 9px;
    margin-left: 240px;
    position: absolute;
    top: 11px;
    width: 19px; z-index: 20;
  }
  
  .view5 {
    background-color: transparent;
    height: 9px;
    margin-left: 330px;
    position: absolute;
    top: 11px;
    width: 19px; z-index: 20;
  }


.labelBtn {
  width: 50px;
  height: 50px;
  color: transparent;  margin-top:-5px;
  margin-left: -20px;  cursor: pointer;
}

.labelBtn2 {
  cursor: pointer;

  width: 50px; position: absolute;
  height: 50px;
  margin-top:-5px;
  margin-left: 30px;
   color: transparent;
}

.labelBtn3 {
  cursor: pointer;

  width: 50px;position: absolute;
  height: 50px;
color: transparent;
  margin-left: 110px;   
  margin-top:-5px;
}

.labelBtn4 {
  cursor: pointer;
  margin-top:-5px;
  width: 50px;position: absolute;
  height: 50px;
color: transparent;
  margin-left: 190px;   
}

.labelBtn5 {
  cursor: pointer;

  width: 50px;position: absolute;
  height: 50px;color: transparent;
  margin-top:-5px;
  margin-left: 280px;  
}

input[for=menuBtn]:checked~.view-0 {
  background-color: rgb(243, 183, 67, 0.8);
}
input[for=menuBtn]:checked~.view2 {
  background-color: transparent;
}
input[for=menuBtn]:checked~.view3 {
  background-color: transparent;
}
input[for=menuBtn]:checked~.view4 {
  background-color: transparent;
}
input[for=menuBtn]:checked~.view5 {
  background-color: transparent;
}

input[for=menuBtn2]:checked~.view-0 {
  background-color: transparent;
  display: none;
}
input[for=menuBtn2]:checked~.view2 {
  background-color: rgb(243, 183, 67, 0.8);
}
input[for=menuBtn2]:checked~.view3 {
  background-color: transparent;
}
input[for=menuBtn2]:checked~.view4 {
  background-color: transparent;
}
input[for=menuBtn2]:checked~.view5 {
  background-color: transparent;
}

input[for=menuBtn3]:checked~.view-0 {
  background-color: transparent;
}
input[for=menuBtn3]:checked~.view2 {
  background-color: transparent;
}
input[for=menuBtn3]:checked~.view3 {
  background-color: rgb(243, 183, 67, 0.8);
}
input[for=menuBtn3]:checked~.view4 {
  background-color: transparent;
}
input[for=menuBtn3]:checked~.view5 {
  background-color: transparent;
}

input[for=menuBtn4]:checked~.view-0 {
  background-color: transparent;
}
input[for=menuBtn4]:checked~.view2 {
  background-color: transparent;
}
input[for=menuBtn4]:checked~.view3 {
  background-color: transparent;
}
input[for=menuBtn4]:checked~.view4 {
  background-color: rgb(243, 183, 67, 0.8);
}
input[for=menuBtn4]:checked~.view5 {
  background-color: transparent;
}

input[for=menuBtn5]:checked~.view-0 {
  background-color: transparent;
}
input[for=menuBtn5]:checked~.view2 {
  background-color: transparent;
}
input[for=menuBtn5]:checked~.view3 {
  background-color: transparent;
}
input[for=menuBtn5]:checked~.view4 {
  background-color: transparent;
}
input[for=menuBtn5]:checked~.view5 {
  background-color: rgb(243, 183, 67, 0.8);
}
  
.number {
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}
.number-1 {
  margin-left: 80px;
letter-spacing: 0;
position: absolute;
top: 0;
}
.number-2 {
  margin-left: 160px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.number-3 {
  margin-left: 240px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.number-4 {
  margin-left: 120px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}
  /*click event end*/
/*************************************************************************/
/*************************************************************************/