/* screen - 07-shop */

.x07-shop {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x07-shop .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x07-shop .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x07-shop .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x07-shop .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x07-shop .overlap-group5 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x07-shop .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x07-shop .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x07-shop .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x07-shop .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x07-shop .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x07-shop .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x07-shop .text-82 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x07-shop .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x07-shop .flex-row {
  align-items: center;
  align-self: center;
  display: inline-flex;
  width: 1450px;
  background-color:rgb(31,39,78,0.8);
}

.x07-shop .overlap-group3 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x07-shop .text-81 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-shop .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-shop .recommend {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 166px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-shop .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 149px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-shop .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-shop .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x07-shop .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: -1px;
  min-width: 1237px;
}

.x07-shop .overlap-group19 {
  height: 1283px;
  position: relative;
  width: 371px;
}

.x07-shop .overlap-group2 {
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x07-shop .feature-bg {
  background-color: #1B3240;
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 370px;
}

.x07-shop .view {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 66px;
  min-width: 219px;
  position: absolute;
  top: 313px;
}

.x07-shop .text-76 {
  letter-spacing: 0;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
}

.x07-shop .text-75 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 60px;
  min-height: 32px;
  min-width: 115px;
  text-align: center;
}

.x07-shop .view-1 {
  align-items: center;
  display: flex;
  height: 37px;
  left: 65px;
  min-width: 194px;
  position: absolute;
  top: 231px;
}

.x07-shop .text-78 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 34px;
  text-align: center;
}

.x07-shop .text-77 {
  letter-spacing: 0;
  margin-left: 63px;
  margin-top: 1.0px;
  min-height: 32px;
  min-width: 93px;
  text-align: center;
}

.x07-shop .view-2 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  left: 71px;
  min-width: 210px;
  position: absolute;
  top: 154px;
}

.x07-shop .text-80 {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 21px;
}

.x07-shop .text-79 {
  letter-spacing: 0;
  margin-left: 70px;
  margin-top: 0;
  min-height: 32px;
  text-align: center;
  width: 115px;
}

.x07-shop .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 61px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 79px;
}

.x07-shop .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .line-5-1 {
  height: 6px;
  margin-left: 3.77px;
  margin-top: 7px;
  width: 83px;
}

.x07-shop .rectangle-22 {
  background-color: var(--white);
  border-radius: 5px;
  height: 487px;
  left: 28px;
  position: absolute;
  top: 399px;
  width: 313px;
}

.x07-shop .line-10 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 370px;
}

.x07-shop .view-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 52px;
  min-height: 58px;
  position: absolute;
  top: 427px;
  width: 234px;
}

.x07-shop .flex-row-2 {
  align-items: flex-end;
  display: flex;
  height: 25px;
  margin-left: 2px;
  min-width: 188px;
}

.x07-shop .overlap-group6 {
  height: 24px;
  position: relative;
  width: 142px;
}

.x07-shop .rectangle-30 {
  background-color: var(--mischka);
  height: 12px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 142px;
}

.x07-shop .text-86 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x07-shop .text-83 {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 25px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  width: 35px;
}

.x07-shop .text-85 {
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 10px;
  text-align: center;
  width: 228px;
}

.x07-shop .text-84 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 5px;
  min-height: 13px;
  width: 158px;
}

.x07-shop .x {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 48px;
  min-height: 327px;
  position: absolute;
  top: 512px;
  width: 44px;
}

.x07-shop .overlap-group14 {
  height: 21px;
  margin-left: 6.55px;
  position: relative;
  width: 16px;
}

.x07-shop .number-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 11px;
}

.x07-shop .ellipse {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 1px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x07-shop .overlap-group {
  height: 21px;
  margin-left: 6.55px;
  margin-top: 13px;
  position: relative;
  width: 16px;
}

.x07-shop .number {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 13px;
}

.x07-shop .overlap-group-1 {
  height: 21px;
  margin-left: 4.36px;
  margin-top: 13px;
  position: relative;
  width: 19px;
}

.x07-shop .number-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 15px;
}

.x07-shop .ellipse-1 {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 4px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x07-shop .overlap-group11 {
  height: 21px;
  margin-top: 13px;
  position: relative;
  width: 24px;
}

.x07-shop .number-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 24px;
}

.x07-shop .ellipse-15 {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 8px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x07-shop .x-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 89px;
  min-height: 324px;
  position: absolute;
  top: 515px;
  width: 220px;
}

.x07-shop .check-movie-1 {
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 18px;
  min-width: 107px;
  text-align: center;
}

.x07-shop .line-5 {
  align-self: flex-end;
  height: 6px;
  margin-right: 6.23px;
  width: 126px;
}

.x07-shop .text-87 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 8px;
  min-height: 18px;
}

.x07-shop .line-6 {
  align-self: flex-end;
  height: 6px;
  margin-right: -23.77px;
  margin-top: 1px;
  width: 156px;
}

.x07-shop .text-89 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 20px;
  min-width: 36px;
  text-align: center;
}

.x07-shop .line-7 {
  align-self: center;
  height: 6px;
  margin-left: 1.77px;
  width: 46px;
}

.x07-shop .text-9 {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 10px;
  min-height: 18px;
}

.x07-shop .line-7-1 {
  align-self: center;
  height: 6px;
  margin-left: 51.77px;
  width: 96px;
}

.x07-shop .line-8 {
  align-self: center;
  height: 6px;
  margin-left: 36.77px;
  width: 81px;
}

.x07-shop .text-9-1 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 10px;
  min-height: 18px;
}

.x07-shop .line-9 {
  align-self: flex-end;
  height: 6px;
  margin-right: -73.77px;
  width: 206px;
}

.x07-shop .text-88 {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 8px;
  min-height: 20px;
  min-width: 64px;
  text-align: center;
}

.x07-shop .line-10-1 {
  align-self: center;
  height: 6px;
  margin-left: 31.77px;
  width: 76px;
}

.x07-shop .text-94 {
  letter-spacing: 0;
  margin-left: 5px;
  margin-top: 9px;
  min-height: 18px;
}

.x07-shop .line-6-1 {
  align-self: flex-end;
  height: 6px;
  margin-right: 11.23px;
  width: 121px;
}

.x07-shop .text-93 {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 11px;
  min-height: 18px;
}

.x07-shop .line-11 {
  align-self: flex-end;
  height: 6px;
  margin-right: -8.77px;
  width: 141px;
}

.x07-shop .updown-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 304px;
  min-height: 323px;
  position: absolute;
  top: 515px;
  width: 33px;
}

.x07-shop .text-105 {
  height: 12px;
  letter-spacing: 0;
  text-align: center;
  width: 13px;
}

.x07-shop .text-104 {
  height: 12px;
  letter-spacing: 0;
  margin-top: 21px;
  text-align: center;
  width: 13px;
}

.x07-shop .text-103 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 24px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-shop .text-102 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 14px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-shop .text-101 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 19px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-shop .text-100 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 17px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-shop .text-99 {
  height: 12px;
  letter-spacing: 0;
  margin-top: 16px;
  text-align: center;
  width: 13px;
}

.x07-shop .text-98 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 23px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-shop .text-97 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-shop .text-96 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 18px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-shop .overlap-group-container-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  margin-top: 102px;
  min-height: 858px;
  width: 776px;
}

.x07-shop .overlap-group17 {
  align-self: flex-start;
  height: 72px;
  position: relative;
  width: 128px;
}

.x07-shop .rectangle-30-1 {
  background-color: var(--mischka);
  height: 27px;
  left: 2px;
  position: absolute;
  top: 42px;
  width: 123px;
}

.x07-shop .shop-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 128px;
}

.x07-shop .overlap-group18 {
  align-items: flex-start;
  background-color: var(--white);
  border: 3px solid #005aab;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #00000040;
  display: flex;
  height: 128px;
  margin-top: 141px;
  min-width: 683px;
  padding: 9px 200px;
}

.x07-shop .rectangle-4 {
  height: 104px;
  object-fit: cover;
  width: 276px;
}

.x07-shop .overlap-group21 {
  align-items: flex-start;
  background-color: var(--white);
  border: 3px solid #ffa600;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #00000040;
  display: flex;
  height: 128px;
  margin-top: 127px;
  min-width: 683px;
  padding: 7px 200px;
}

.x07-shop .overlap-group20 {
  align-items: flex-start;
  background-color: var(--white);
  border: 3px solid #6db43f;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #00000040;
  display: flex;
  height: 128px;
  margin-top: 134px;
  min-width: 683px;
  padding: 9px 88px;
}

.x07-shop .rectangle-50 {
  height: 104px;
  object-fit: cover;
  width: 500px;
}

.x07-shop .overlap-group23 {
  height: 300px;
  position: relative;
  width: 1442px;
}

.x07-shop .overlap-group-3 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x07-shop .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x07-shop .check-movie-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x07-shop .check-movie-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x07-shop .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .shop-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x07-shop .shop-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x07-shop .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}

.x07-shop .line-11-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}
