/* screen - 07-search */

.x07-search {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x07-search .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x07-search .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x07-search .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-3);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x07-search .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-3);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x07-search .overlap-group5 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x07-search .navbar {
  align-items: flex-start;
  
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x07-search .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-search .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-search .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-search .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-search .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
  border: 3px solid #1F274E;
  border-radius: 5px;
}

.x07-search .text-37 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x07-search .overlap-group32 {
  height: 1653px;
  margin-left: -1px;
  position: relative;
  width: 1451px;
}

.x07-search .overlap-group28 {
  height: 1653px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1451px;
}

.x07-search .overlap-group-3 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  margin-top: 1353px;
  min-height: 300px;
  width: 1440px;
}

.x07-search .flex-row {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x07-search .check-movie {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x07-search .check-movie-1 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .my-book {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x07-search .my-book-1 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .shop {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x07-search .shop-1 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x07-search .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .overlap-group2 {
  height: 1283px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 370px;
}

.x07-search .feature-bg {
  background-color: #1B3240;
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 370px;
}

.x07-search .view {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 66px;
  min-width: 219px;
  position: absolute;
  top: 313px;
}

.x07-search .text-31 {
  letter-spacing: 0;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
}

.x07-search .text-30 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 60px;
  min-height: 32px;
  min-width: 115px;
  text-align: center;
}

.x07-search .view-1 {
  align-items: center;
  display: flex;
  height: 37px;
  left: 65px;
  min-width: 194px;
  position: absolute;
  top: 231px;
}

.x07-search .text-33 {
  color: var(--blue-zodiac);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  min-height: 37px;
  min-width: 34px;
  text-align: center;
}

.x07-search .text-32 {
  letter-spacing: 0;
  margin-left: 63px;
  margin-top: 1.0px;
  min-height: 32px;
  min-width: 93px;
  text-align: center;
}

.x07-search .view-2 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  left: 71px;
  min-width: 210px;
  position: absolute;
  top: 154px;
}

.x07-search .text-35 {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 21px;
}

.x07-search .text-34 {
  letter-spacing: 0;
  margin-left: 70px;
  margin-top: 0;
  min-height: 32px;
  text-align: center;
  width: 115px;
}

.x07-search .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 61px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 79px;
}

.x07-search .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x07-search .line-5-1 {
  height: 6px;
  margin-right: 2.0px;
  margin-top: 4px;
  width: 83px;
}

.x07-search .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1px;
  min-height: 70px;
  position: absolute;
  top: 0;
  width: 1450px;
}

.x07-search .flex-row-1 {
  align-items: center;
  align-self: center;
  display: flex;
  width: 1450px;
  background-color:rgb(31,39,78,0.8);
}

.x07-search .overlap-group3 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x07-search .text-36 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-search .check-movie-2 {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-search .recommand {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 167px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-search .my-book-2 {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 148px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-search .shop-2 {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x07-search .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x07-search .rectangle-22 {
  background-color: var(--white);
  border: 3px solid var(--tulip-tree);
  border-radius: 5px;
  height: 487px;
  left: 28px;
  position: absolute;
  top: 469px;
  width: 313px;
}

.x07-search .line-10 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 70px;
  width: 370px;
}

.x07-search .line-11 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 1352px;
  width: 370px;
}

.x07-search .view-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 52px;
  min-height: 58px;
  position: absolute;
  top: 497px;
  width: 234px;
}

.x07-search .flex-row-2 {
  align-items: flex-end;
  display: flex;
  height: 25px;
  margin-left: 2px;
  min-width: 188px;
}

.x07-search .overlap-group7 {
  height: 24px;
  position: relative;
  width: 142px;
}

.x07-search .rectangle-30 {
  background-color: var(--mischka);
  height: 12px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 142px;
}

.x07-search .text-42 {
  color: var(--vulcan);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x07-search .text-39 {
  color: var(--tulip-tree);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 25px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  width: 35px;
}

.x07-search .text-41 {
  color: var(--black-5);
  font-family: var(--font-family-font_awesome_6_free-regular);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 10px;
  text-align: center;
  width: 228px;
}

.x07-search .text-40 {
  color: var(--tulip-tree);
  font-family: var(--font-family-abril_fatface);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 5px;
  min-height: 13px;
  text-align: center;
  width: 158px;
}

.x07-search .x {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 48px;
  min-height: 327px;
  position: absolute;
  top: 582px;
  width: 44px;
}

.x07-search .overlap-group10 {
  height: 21px;
  margin-left: 6.55px;
  position: relative;
  width: 16px;
}

.x07-search .number-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 11px;
}

.x07-search .ellipse {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 1px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x07-search .overlap-group {
  height: 21px;
  margin-left: 6.55px;
  margin-top: 13px;
  position: relative;
  width: 16px;
}

.x07-search .number {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 13px;
}

.x07-search .overlap-group-1 {
  height: 21px;
  margin-left: 4.36px;
  margin-top: 13px;
  position: relative;
  width: 19px;
}

.x07-search .number-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 15px;
}

.x07-search .ellipse-1 {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 4px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x07-search .overlap-group13 {
  height: 21px;
  margin-top: 13px;
  position: relative;
  width: 24px;
}

.x07-search .number-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 24px;
}

.x07-search .ellipse-15 {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 8px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x07-search .x-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 89px;
  min-height: 324px;
  position: absolute;
  top: 585px;
  width: 220px;
}

.x07-search .overlap-group21 {
  height: 21px;
  margin-left: -2.89px;
  position: relative;
  width: 126px;
}

.x07-search .check-movie-3 {
  color: var(--black);
  font-family: var(--font-family-abhaya_libre_medium-regular);
  font-size: var(--font-size-xs);
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.x07-search .span0 {
  font-weight: 400;
}

.x07-search .line-5 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 126px;
}

.x07-search .overlap-group18 {
  height: 22px;
  margin-left: -2.89px;
  margin-top: 11px;
  position: relative;
  width: 156px;
}

.x07-search .text {
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x07-search .line-6 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 156px;
}

.x07-search .overlap-group22 {
  height: 23px;
  margin-left: -2.89px;
  margin-top: 12px;
  position: relative;
  width: 46px;
}

.x07-search .text-50 {
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.x07-search .span1 {
  color: var(--black);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-xs);
  font-weight: 400;
}

.x07-search .line-7 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 46px;
}

.x07-search .overlap-group26 {
  height: 21px;
  margin-left: -2.89px;
  margin-top: 13px;
  position: relative;
  width: 96px;
}

.x07-search .text-5 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x07-search .line-7-1 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 96px;
}

.x07-search .overlap-group25 {
  height: 21px;
  margin-left: -2.89px;
  margin-top: 13px;
  position: relative;
  width: 81px;
}

.x07-search .line-8 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 81px;
}

.x07-search .overlap-group27 {
  height: 21px;
  margin-left: -2.89px;
  margin-top: 13px;
  position: relative;
  width: 206px;
}

.x07-search .line-9 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 206px;
}

.x07-search .overlap-group20 {
  height: 23px;
  margin-left: -2.89px;
  margin-top: 11px;
  position: relative;
  width: 76px;
}

.x07-search .text-49 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.x07-search .line-10-1 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 76px;
}

.x07-search .overlap-group24 {
  height: 21px;
  margin-left: -2.89px;
  margin-top: 13px;
  position: relative;
  width: 126px;
}

.x07-search .overlap-group23 {
  height: 21px;
  margin-left: -2.89px;
  margin-top: 12px;
  position: relative;
  width: 121px;
}

.x07-search .text-55 {
  left: 8px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x07-search .line-6-1 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 121px;
}

.x07-search .overlap-group19 {
  height: 21px;
  margin-left: -2.89px;
  margin-top: 14px;
  position: relative;
  width: 141px;
}

.x07-search .line-11-1 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 141px;
}

.x07-search .updown-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 304px;
  min-height: 323px;
  position: absolute;
  top: 585px;
  width: 33px;
}

.x07-search .text-66 {
  height: 12px;
  letter-spacing: 0;
  text-align: center;
  width: 13px;
}

.x07-search .text-65 {
  height: 12px;
  letter-spacing: 0;
  margin-top: 21px;
  text-align: center;
  width: 13px;
}

.x07-search .text-64 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 24px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-search .text-63 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 14px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-search .text-62 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 19px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-search .text-61 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 17px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-search .text-60 {
  height: 12px;
  letter-spacing: 0;
  margin-top: 16px;
  text-align: center;
  width: 13px;
}

.x07-search .text-59 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 23px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-search .text-58 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-search .text-57 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 18px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x07-search .overlap-group31 {
  height: 68px;
  left: 470px;
  position: absolute;
  top: 119px;
  width: 870px;
}

.x07-search .overlap-group6 {
  height: 74px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 873px;
}

.x07-search .rectangle-22-1 {
  background-color: #cfd8dcd9;
  border-radius: 5px;
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 866px;
}

.x07-search .text-38 {
  color: var(--blue-zodiac);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: 32px;
  font-weight: 400;
  left: 775px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 98px;
}

.x07-search .text-43 {
  color: var(--black);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 21px;
}

.x07-search .view-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 450px;
  min-height: 38px;
  position: absolute;
  top: 235px;
  width: 900px;
}

.x07-search .flex-row-3 {
  align-items: flex-start;
  display: flex;
  margin-left: 20.0px;
  min-width: 736px;
}

.x07-search .all {
  align-items: flex-end;
  display: flex;
  height: 32px;
  min-width: 75px;
}

.x07-search .text-4 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 24px;
  text-align: center;
}

.x07-search .all-1 {
  color: var(--vulcan);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 32px;
  min-width: 32px;
  text-align: center;
}

.x07-search .movie {
  align-items: flex-end;
  display: flex;
  height: 32px;
  margin-left: 118px;
  min-width: 109px;
}

.x07-search .movie-1 {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 32px;
  min-width: 66px;
  text-align: center;
}

.x07-search .book {
  align-items: flex-end;
  display: flex;
  height: 32px;
  margin-left: 118px;
  min-width: 97px;
}

.x07-search .text-46 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 21px;
  text-align: center;
}

.x07-search .book-1 {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 32px;
  min-width: 57px;
  text-align: center;
}

.x07-search .more-1 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-left: 118px;
  min-width: 101px;
}

.x07-search .text-47 {
  letter-spacing: 0;
  margin-top: 2.0px;
  min-height: 28px;
  min-width: 24px;
  text-align: center;
}

.x07-search .place-1 {
  letter-spacing: 0;
  margin-left: 15px;
  min-height: 32px;
  min-width: 58px;
  text-align: center;
}

.x07-search .overlap-group-4 {
  height: 9px;
  position: relative;
  width: 906px;
}

.x07-search .line-5-2 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 906px;
}

.x07-search .view-5 {
  background-color: var(--old-brick);
  height: 6px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 80px;
}

.x07-search .overlap-group30 {
  height: 33px;
  left: 491px;
  position: absolute;
  top: 323px;
  width: 160px;
}

.x07-search .view-6 {
  background-color: var(--tulip-tree);
  height: 6px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 160px;
}

.x07-search .text-68 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x07-search .text-67 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 494px;
  letter-spacing: 0;
  position: absolute;
  top: 395px;
}

.x07-search .text-69 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 494px;
  letter-spacing: 0;
  position: absolute;
  top: 435px;
}

.x07-search .line-5-3 {
  height: 1px;
  left: 450px;
  position: absolute;
  top: 494px;
  width: 900px;
}
/*숨겨진 메뉴*/

.overlap-group131 {
  position: absolute;
  height: 100%;
  max-width: 0;
  transition: 0.5s ease;
  z-index: 1;
  width: 1440px;
  margin-right: auto;
}

.ham-menu{
  align-items: center;
  background-color: #1f274ecc;
  display: flex;
  height: 400px;
  left: 0;
  min-width: 1440px;
  padding: 31px 72px;
  position: absolute;
  top: 0;
}

.ham-menu .place {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}
.ham-menu .making-place{
  width:100px;
}
.ham-menu .check-movie-1 {
  align-items: center;
  flex-direction: column;
  margin-bottom: 65.0px;
  margin-right: 30px;
  min-height: 123px;

  display:flex;
}

.ham-menu.check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 6.0px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 18.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 23.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .recommand-1 {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 116.0px;
  margin-left: 50px;
  min-height: 72px;
  width: 210px;
  margin-bottom: 120px;
}

.ham-menu.recommand-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 133px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.recommand-result {
  display:flex;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .my-book-1 {
  align-items: center;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 58px;
  min-height: 174px;
  width: 284px;

}

.ham-menu.my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .shop-1 {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 160px;
  min-height: 174px;
  width: 88px;
  padding-right: 250px;
}

.ham-menu .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .line-5 {
  height: 6px;
  left: 59px;
  position: inherit;
  top: 59px;
  width: 83px;
}

.ham-menu  .line-6 {
  height: 6px;
  left: 246px;
  position: inherit;
  top: 136px;
  width: 176px;
}

.ham-menu  .line-7 {
  height: 6px;
  left: 541px;
  position: inherit;
  top: 136px;
  width: 176px;
}

.ham-menu  .line-8 {
  height: 6px;
  left: 857px;
  position: inherit;
  top: 136px;
  width: 156px;
}

.ham-menu  .line-9 {
  height: 6px;
  left: 1169px;
  position: inherit;
  top: 136px;
  width: 126px;
}

.ham-menu .line-10 {
  height: 1px;
  left: 0;
  position: inherit;
  top: 70px;
  width: 1440px;
  z-index: 80;
}

/*햄버거*/
/* input 중에 id가 trigger인 항목에 대한 css */
input[id=trigger] {
  display: none;
}

/* label 중에 for가 trigger인 항목 */
label[for=trigger] {
  /* border: 1px solid red; */
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}

/* label 중에 for가 trigger인 항목 안의 span */
label[for=trigger] span {
  display: block;
  height: 5px;
  background-color: #F3B743;
  left: 0;
  width: 100%;
  position: absolute;
  transition: 0.3s;
  z-index: 1000; 
}

/* label[for=trigger] > span의 n번째 요소 */
label[for=trigger] span:nth-child(1) {
  top:0;
}

label[for=trigger] span:nth-child(2) {
  top:50%;
}

label[for=trigger] span:nth-child(3) {
  top:100%;
}

/* check시 변하는 label[for=trigger] > span의 n번째 요소  */
input[id=trigger]:checked + label span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

input[id=trigger]:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id=trigger]:checked + label span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

label[for=trigger] ~ .overlap-group131 {
  display: none;
  position: relative;
  width: 100%;
  top: 70px;
}
/* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
input[id=trigger]:checked ~ .overlap-group131 {
  display: block;
  position: relative;
  width: 100%;
  margin-left:0px;
}

/* check시 같이 밀려나가는 CSS 햄버거 메뉴 */
input[id=trigger]:checked + label[for=trigger] {
  transition: 0.2s;
}

.check-movie:hover{
  color: #FFABAB;
}
.recommand:hover{
  color: #FFABAB;
}
.my-book:hover{
  color: #FFABAB;
}
.shop:hover{
  color: #FFABAB;
}
/* input */
.input-box{
  border: none;
  height: 100%;
  width: 100%;
}
input:focus {outline:none;}
.input-q{
  background-color: #CFD8DC;
}