/* screen - 08-1-seongbyeol-tonggye */

.x08-1-seongbyeol-tonggye {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x08-1-seongbyeol-tonggye .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x08-1-seongbyeol-tonggye .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x08-1-seongbyeol-tonggye .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x08-1-seongbyeol-tonggye .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x08-1-seongbyeol-tonggye .overlap-group5 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x08-1-seongbyeol-tonggye .navbar {
  align-items: flex-start;

  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x08-1-seongbyeol-tonggye .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-1-seongbyeol-tonggye .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-1-seongbyeol-tonggye .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-1-seongbyeol-tonggye .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-1-seongbyeol-tonggye .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
  border: 3px solid #1F274E;
  border-radius: 5px;
}

.x08-1-seongbyeol-tonggye .text-215 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
  color: var(--blue-zodiac);
    font-family: var(--font-family-font_awesome_6_free-solid);
    font-size: var(--font-size-xxs);
    font-style: normal;
    font-weight: 400;
}

.x08-1-seongbyeol-tonggye .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x08-1-seongbyeol-tonggye .flex-row {
  align-items: center;
  align-self: center;
  display: inline-flex;
  width: 1450px;
  background-color: rgb(31, 39, 78, 0.8);
}

.x08-1-seongbyeol-tonggye .overlap-group3 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x08-1-seongbyeol-tonggye .text-214 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-1-seongbyeol-tonggye .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-1-seongbyeol-tonggye .recommend {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 166px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-1-seongbyeol-tonggye .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 149px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-1-seongbyeol-tonggye .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-1-seongbyeol-tonggye .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x08-1-seongbyeol-tonggye .flex-row-1 {
  align-items: center;
  display: flex;
  min-width: 1323px;
}

.x08-1-seongbyeol-tonggye .overlap-group {
  height: 1283px;
  position: relative;
  width: 370px;
}

.x08-1-seongbyeol-tonggye .left-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1283px;
  position: absolute;
  top: 0;
  width: 370px;
}

.x08-1-seongbyeol-tonggye .feature-bg {
  background-color: #1B3240;
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 394px;
  z-index: 1;
}

.x08-1-seongbyeol-tonggye .view {
  align-items: flex-start;
  display: flex;
  height: 97px;
  width: 394px;
  min-width: 350px;
  position: absolute;
  padding-top: 30px;
  padding-left: 20px;
  top: 161px;
  z-index: 50;
}
.view:hover {
  background-color: rgb(217, 217, 217, 0.1);
}

.x08-1-seongbyeol-tonggye .text-211 {
  color: var(--white);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.x08-1-seongbyeol-tonggye .search-ranking {
  color: var(--white);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  margin-left: 20px;
}

.x08-1-seongbyeol-tonggye .view-1 {
  align-items: center;
  display: flex;
  height: 97px;
  width: 394px;
  min-width: 257px;
  position: absolute;
  padding-top: 30px;
  top: 367px;
  padding-left: 20px;
  z-index: 50;
}
.view-1:hover {
  background-color: rgb(217, 217, 217, 0.1);
}
.x08-1-seongbyeol-tonggye .text-212 {
  color: var(--white);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.x08-1-seongbyeol-tonggye .gender-statistics {
  color: var(--white);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  margin-left: 20px;
}

.x08-1-seongbyeol-tonggye .view-2 {
  align-items: flex-start;
  display: flex;
  height: 97px;
  width: 394px;
  min-width: 337px;
  padding-left: 20px;
  padding-top: 30px;
  position: absolute;
  top: 275px;
  z-index: 50;
}
.view-2:hover {
  background-color: rgb(217, 217, 217, 0.1);
}
.x08-1-seongbyeol-tonggye .text-213 {
  color: var(--white);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.x08-1-seongbyeol-tonggye .statistics-by-age {
  color: var(--white);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  margin-left: 20px;
}

.x08-1-seongbyeol-tonggye .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 60px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 78px;
  z-index: 50;
}

.x08-1-seongbyeol-tonggye .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.05px;
  min-height: 24px;
  text-align: justify;
  white-space: nowrap;
  width: 55px;
}

.x08-1-seongbyeol-tonggye .line-5 {
  height: 6px;
  margin-left: 3.77px;
  margin-top: 7px;
  width: 83px;
}

.x08-1-seongbyeol-tonggye .rectangle-33 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 249px;
  width: 370px;
}

.x08-1-seongbyeol-tonggye .line-11 {
  height: 1px;
  width: 370px;
}

.x08-1-seongbyeol-tonggye .line-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x08-1-seongbyeol-tonggye .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 18.0px;
  margin-left: 70px;
  min-height: 1135px;
  width: 883px;
}

.x08-1-seongbyeol-tonggye .overlap-group6 {
  height: 72px;
  position: relative;
  width: 383px;
}

.x08-1-seongbyeol-tonggye .rectangle-30 {
  background-color: var(--mischka);
  height: 27px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 370px;
}

.x08-1-seongbyeol-tonggye .gender-statistics-1 {
  color: var(--blue-zodiac);
  font-family: var(--font-family-abril_fatface);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  z-index: 1;
}

.x08-1-seongbyeol-tonggye .overlap-group7 {
  height: 90px;
  margin-left: 29px;
  margin-top: 53px;
  position: relative;
  width: 180px;
}

.x08-1-seongbyeol-tonggye .ellipse-20 {
  background-color: rgb(255, 171, 171, 0.5);
  border-radius: 45px;
  height: 90px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 90px;
}

.x08-1-seongbyeol-tonggye .ellipse-20-1 {
  background-color: rgb(255, 171, 171, 0.5);
  border-radius: 45px;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
}

.x08-1-seongbyeol-tonggye .ellipse-21 {
  background-color: var(--blue-zodiac);
  border-radius: 45px;
  height: 90px;
  left: 45px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 0;
  width: 90px;
}

.x08-1-seongbyeol-tonggye .women {
  color: var(--white);
  font-family: var(--font-family-abril_fatface);
  font-size: 48px;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 8px;
}

.x08-1-seongbyeol-tonggye .rectangle-52 {
  align-self: flex-end;
  background-color: #d9d9d9;
  height: 338px;
  margin-top: 24px;
  width: 854px;
}

.x08-1-seongbyeol-tonggye .overlap-group8 {
  height: 90px;
  margin-left: 29px;
  margin-top: 65px;
  position: relative;
  width: 180px;
}

.x08-1-seongbyeol-tonggye .ellipse-20-2 {
  background-color: var(--mischka);
  border-radius: 45px;
  height: 90px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 90px;
}

.x08-1-seongbyeol-tonggye .ellipse-20-3 {
  background-color: var(--mischka);
  border-radius: 45px;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
}

.x08-1-seongbyeol-tonggye .men {
  color: var(--white);
  font-family: var(--font-family-abril_fatface);
  font-size: 48px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 11px;
}

.x08-1-seongbyeol-tonggye .rectangle-53 {
  align-self: flex-end;
  background-color: #d9d9d9;
  height: 338px;
  margin-top: 65px;
  width: 854px;
}

.x08-1-seongbyeol-tonggye .overlap-group10 {
  height: 300px;
  position: relative;
  width: 1442px;
}

.x08-1-seongbyeol-tonggye .overlap-group-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x08-1-seongbyeol-tonggye .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x08-1-seongbyeol-tonggye .check-movie-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x08-1-seongbyeol-tonggye .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x08-1-seongbyeol-tonggye .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x08-1-seongbyeol-tonggye .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x08-1-seongbyeol-tonggye .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x08-1-seongbyeol-tonggye .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
/*숨겨진 메뉴*/
.overlap-group13 {
  position: absolute;
  height: 100%;
  max-width: 0;
  transition: 0.5s ease;
  z-index: 1000;
  width: 1440px;
  margin-right: auto;

}

.ham-menu {
  align-items: center;
  background-color: #1f274ecc;
  display: flex;
  height: 400px;
  left: 0;
  min-width: 1440px;
  padding: 31px 72px;
  position: absolute;
  top: 0;
}

.ham-menu .place {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .making-place {
  width: 100px;
}

.ham-menu>.check-movie-1 {
  align-items: center;
  flex-direction: column;
  margin-bottom: 65.0px;
  margin-right: 30px;
  min-height: 123px;

  display: flex;
}

.ham-menu.check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 6.0px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 18.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu.overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 23.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu>.recommand-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 116.0px;
  margin-left: 50px;
  min-height: 72px;
  width: 210px;
  margin-bottom: 120px;
}

.ham-menu.recommand-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 133px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .recommand-result {
  display: flex;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4.0px;
  margin-top: 34px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .my-book-1 {
  align-items: center;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 50px;
  min-height: 174px;
  width: 284px;
  text-align: center;
}

.ham-menu.my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
  text-align: center;
}

.ham-menu.my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
  text-align: center;
}

.ham-menu .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 40px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 228px;
  text-align: center;
  white-space: nowrap;
}

.ham-menu .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 40px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  text-align: center;
  white-space: nowrap;
}

.ham-menu .shop-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 160px;
  min-height: 174px;
  width: 88px;
  padding-right: 250px;
}

.ham-menu .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.ham-menu .line-5 {
  height: 6px;
  left: 59px;
  position: inherit;
  top: 59px;
  width: 83px;
}

.ham-menu .line-6 {
  height: 6px;
  left: 246px;
  position: inherit;
  top: 136px;
  width: 176px;
}

.ham-menu .line-7 {
  height: 6px;
  left: 541px;
  position: inherit;
  top: 136px;
  width: 176px;
}

.ham-menu .line-8 {
  height: 6px;
  left: 857px;
  position: inherit;
  top: 136px;
  width: 156px;
}

.ham-menu .line-9 {
  height: 6px;
  left: 1169px;
  position: inherit;
  top: 136px;
  width: 126px;
}

.ham-menu .line-10 {
  height: 1px;
  left: 0;
  position: inherit;
  top: 70px;
  width: 1440px;
  z-index: 80;
}

/*햄버거*/
/* input 중에 id가 trigger인 항목에 대한 css */
input[id=trigger] {
  display: none;
}

/* label 중에 for가 trigger인 항목 */
label[for=trigger] {
  /* border: 1px solid red; */
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}

/* label 중에 for가 trigger인 항목 안의 span */
label[for=trigger] span {
  display: block;
  height: 5px;
  background-color: #F3B743;
  left: 0;
  width: 100%;
  position: absolute;
  transition: 0.3s;
  z-index: 1000;
}

/* label[for=trigger] > span의 n번째 요소 */
label[for=trigger] span:nth-child(1) {
  top: 0;
}

label[for=trigger] span:nth-child(2) {
  top: 50%;
}

label[for=trigger] span:nth-child(3) {
  top: 100%;
}

/* check시 변하는 label[for=trigger] > span의 n번째 요소  */
input[id=trigger]:checked+label span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

input[id=trigger]:checked+label span:nth-child(2) {
  opacity: 0;
}

input[id=trigger]:checked+label span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

label[for=trigger]~.overlap-group13 {
  display: none;
  position: relative;
  width: 100%;
  top: 70px;
}

/* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
input[id=trigger]:checked~.overlap-group13 {
  display: block;
  position: relative;
  width: 100%;
  margin-left: -50px;
}

/* check시 같이 밀려나가는 CSS 햄버거 메뉴 */
input[id=trigger]:checked+label[for=trigger] {
  transition: 0.2s;
}

.text-33 {
  color: var(--blue-zodiac);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

/*글자 hover시에 색 바뀌게*/
.check-movie:hover {
  color: #FFABAB;
}

.recommand:hover {
  color: #FFABAB;
}

.my-book:hover {
  color: #FFABAB;
}

.shop:hover {
  color: #FFABAB;
}

/* input */
.input-box {
  border: none;
  height: 100%;
  width: 100%;
}

input:focus {
  outline: none;
}

.input-q {
  background-color: #CFD8DC;
}

.grey-bar {
  align-items: flex-end;
  display: flex;
  margin-left: -350px;
  min-width: 345px;
  height: 20px;
  margin-top: -100px;
  background-color: #D7D8D9;
}