/* screen - 10-1-security */

.x10-1-security {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x10-1-security .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x10-1-security .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x10-1-security .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x10-1-security .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x10-1-security .overlap-group4 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x10-1-security .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x10-1-security .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x10-1-security .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x10-1-security .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x10-1-security .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x10-1-security .overlap-group {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x10-1-security .text-63 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x10-1-security .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x10-1-security .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 118.0px;
  min-width: 1202px;
}

.x10-1-security .overlap-group2 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x10-1-security .text-62 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-1-security .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-1-security .recommend {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 166px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-1-security .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 149px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-1-security .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-1-security .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x10-1-security .overlap-group-container-1 {
  height: 1583px;
  position: relative;
  width: 1442px;
}

.x10-1-security .overlap-group-container-2 {
  height: 1583px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.x10-1-security .overlap-group-1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 1283px;
  width: 1440px;
}

.x10-1-security .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x10-1-security .check-movie-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x10-1-security .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x10-1-security .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x10-1-security .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x10-1-security .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .overlap-group5 {
  height: 1284px;
  left: 0;
  position: absolute;
  top: 0;
  width: 381px;
}

.x10-1-security .overlap-group-2 {
  height: 1284px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 381px;
}

.x10-1-security .feature-bg {
  background-color: var(--black-4);
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 370px;
}

.x10-1-security .left-bar {
  align-items: center;
  display: flex;
  height: 368px;
  left: 46px;
  min-width: 335px;
  position: absolute;
  top: 151px;
}

.x10-1-security .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 368px;
  width: 40px;
}

.x10-1-security .text-64 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 37px;
  min-width: 36px;
  text-align: center;
}

.x10-1-security .text-68 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 48px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x10-1-security .text-66 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 46px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x10-1-security .text-65 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
}

.x10-1-security .text-67 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 37px;
  min-width: 40px;
  text-align: center;
}

.x10-1-security .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 1.0px;
  min-height: 364px;
  width: 262px;
}

.x10-1-security .personal-information {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 262px;
}

.x10-1-security .security {
  letter-spacing: 0;
  margin-right: 11.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 95px;
  text-align: center;
}

.x10-1-security .recent-records {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 172px;
  text-align: center;
}

.x10-1-security .users-and-shares {
  letter-spacing: 0;
  margin-right: 5.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 189px;
  text-align: center;
}

.x10-1-security .login {
  letter-spacing: 0;
  margin-right: 15.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 63px;
  text-align: center;
}

.x10-1-security .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 46px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 79px;
}

.x10-1-security .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x10-1-security .line-5 {
  height: 6px;
  margin-left: 3.77px;
  margin-top: 7px;
  width: 83px;
}

.x10-1-security .line-10 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1282px;
  width: 370px;
}

.x10-1-security .rectangle-33 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 218px;
  width: 370px;
}

.x10-1-security .line-10-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x10-1-security .overlap-group6 {
  height: 90px;
  left: 458px;
  position: absolute;
  top: 449px;
  width: 180px;
}

.x10-1-security .ellipse-21 {
  background-color: var(--snuff);
  border-radius: 45px;
  height: 90px;
  left: 45px;
  position: absolute;
  top: 0;
  width: 90px;
}

.x10-1-security .ellipse-20 {
  background-color: var(--misty-moss);
  border-radius: 45px;
  height: 90px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 90px;
}

.x10-1-security .ellipse-20-1 {
  background-color: var(--old-brick);
  border-radius: 45px;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
}

.x10-1-security .changes {
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 15px;
}

.x10-1-security .flex-row-2 {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 10px;
  display: flex;
  height: 518px;
  left: 458px;
  min-width: 888px;
  padding: 35px 48px;
  position: absolute;
  top: 587px;
}

.x10-1-security .flex-col-1 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  min-height: 411px;
  width: 178px;
}

.x10-1-security .place-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  min-height: 54px;
  min-width: 105px;
  text-align: center;
}

.x10-1-security .age {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 33px;
  min-height: 54px;
  min-width: 69px;
  text-align: center;
}

.x10-1-security .gender {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 33px;
  min-height: 54px;
  min-width: 139px;
  text-align: center;
}

.x10-1-security .email {
  letter-spacing: 0;
  margin-top: 32px;
  min-height: 54px;
  min-width: 108px;
  text-align: center;
}

.x10-1-security .password {
  letter-spacing: 0;
  margin-top: 43px;
  min-height: 54px;
  min-width: 178px;
  text-align: center;
}

.x10-1-security .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 86px;
  min-height: 441px;
  width: 480px;
}

.x10-1-security .id {
  background-color: var(--white);
  border-radius: 8px;
  height: 78px;
  width: 480px;
}

.x10-1-security .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 141px;
  margin-top: 21px;
  min-width: 367px;
}

.x10-1-security .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 141px;
  width: 152px;
}

.x10-1-security .id-1 {
  background-color: var(--white);
  border-radius: 8px;
  height: 78px;
  width: 134px;
}

.x10-1-security .text-71 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 9px;
  min-height: 54px;
  min-width: 40px;
  text-align: center;
}

.x10-1-security .text-70 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 54px;
  min-width: 37px;
  text-align: center;
}

.x10-1-security .text-69 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 138px;
  min-height: 54px;
  min-width: 40px;
  text-align: center;
}

.x10-1-security .id-2 {
  background-color: var(--white);
  border-radius: 8px;
  height: 78px;
  margin-top: 21px;
  width: 480px;
}

.x10-1-security .id-3 {
  background-color: var(--white);
  border-radius: 8px;
  height: 78px;
  margin-top: 24px;
  width: 480px;
}

.x10-1-security .overlap-group8 {
  height: 317px;
  left: 818px;
  position: absolute;
  top: 79px;
  width: 568px;
}

.x10-1-security .x5027841_protection_s {
  height: 317px;
  left: 112px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 300px;
}

.x10-1-security .rectangle-31 {
  background-color: var(--mischka);
  height: 27px;
  left: 87px;
  position: absolute;
  top: 144px;
  width: 391px;
}

.x10-1-security .rectangle-30 {
  background-color: var(--mischka);
  height: 27px;
  left: 196px;
  position: absolute;
  top: 79px;
  width: 174px;
}

.x10-1-security .s-security-systems {
  left: 41px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 40px;
  width: 486px;
}

.x10-1-security .text-72 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 205px;
  width: 568px;
}

.x10-1-security .overlap-group9 {
  height: 90px;
  left: 762px;
  position: absolute;
  top: 1149px;
  width: 241px;
}

.x10-1-security .rectangle-45 {
  background-color: var(--cultured-pearl);
  border: 3px solid var(--old-brick);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #00000040;
  height: 90px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 222px;
}

.x10-1-security .place-2 {
  color: var(--blue-zodiac);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 241px;
}
