/* screen - 02-about-checkmovie */

.x02-about-checkmovie {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x02-about-checkmovie .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x02-about-checkmovie .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x02-about-checkmovie .checkmovie-2 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x02-about-checkmovie .checkmovie-3 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x02-about-checkmovie .overlap-group5 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x02-about-checkmovie .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x02-about-checkmovie .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x02-about-checkmovie .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x02-about-checkmovie .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x02-about-checkmovie .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x02-about-checkmovie .overlap-group {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x02-about-checkmovie .text-156 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x02-about-checkmovie .overlap-group11 {
  height: 1353px;
  position: relative;
  width: 1450px;
}

.x02-about-checkmovie .overlap-group9 {
  height: 1353px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1450px;
}

.x02-about-checkmovie .overlap-group2 {
  height: 1284px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 370px;
}

.x02-about-checkmovie .overlap-group-1 {
  height: 1283px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 370px;
}

.x02-about-checkmovie .feature-bg {
  background-color: var(--black-4);
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 370px;
}

.x02-about-checkmovie .left-bar {
  align-items: center;
  display: flex;
  height: 368px;
  left: 46px;
  min-width: 305px;
  position: absolute;
  top: 151px;
}

.x02-about-checkmovie .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 368px;
  width: 40px;
}

.x02-about-checkmovie .text-150 {
  letter-spacing: 0;
  margin-left: 4px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x02-about-checkmovie .text-151 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 37px;
  min-width: 40px;
  text-align: center;
}

.x02-about-checkmovie .text-153 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 47px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x02-about-checkmovie .text-152 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
}

.x02-about-checkmovie .text-154 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 47px;
  min-height: 37px;
  min-width: 36px;
  text-align: center;
}

.x02-about-checkmovie .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: 1.0px;
  min-height: 363px;
  width: 214px;
}

.x02-about-checkmovie .about-check-movie {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 214px;
}

.x02-about-checkmovie .check-movie {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 52px;
  min-height: 32px;
  min-width: 136px;
  text-align: center;
}

.x02-about-checkmovie .recommend {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 52px;
  min-height: 32px;
  min-width: 133px;
  text-align: center;
}

.x02-about-checkmovie .my-book {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 49px;
  min-height: 32px;
  min-width: 93px;
  text-align: center;
}

.x02-about-checkmovie .shop {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 50px;
  min-height: 32px;
  min-width: 53px;
  text-align: center;
}

.x02-about-checkmovie .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 46px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 79px;
}

.x02-about-checkmovie .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .line-5 {
  height: 6px;
  margin-left: 3.77px;
  margin-top: 7px;
  width: 83px;
}

.x02-about-checkmovie .rectangle-33 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 134px;
  width: 370px;
}

.x02-about-checkmovie .line-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x02-about-checkmovie .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 70px;
  position: absolute;
  top: 0;
  width: 1450px;
}

.x02-about-checkmovie .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 118.0px;
  min-width: 1202px;
}

.x02-about-checkmovie .overlap-group3 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x02-about-checkmovie .text-155 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-about-checkmovie .check-movie-1 {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-about-checkmovie .recommend-1 {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 166px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-about-checkmovie .my-book-1 {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 149px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-about-checkmovie .shop-1 {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-about-checkmovie .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x02-about-checkmovie .overlap-group6 {
  height: 805px;
  left: 445px;
  position: absolute;
  top: 268px;
  width: 928px;
}

.x02-about-checkmovie .text_label {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 928px;
}

.x02-about-checkmovie .span1 {
  color: var(--sonic-silver);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.x02-about-checkmovie .checkmovie-container-1 {
  height: 54px;
  left: 46px;
  position: absolute;
  top: 472px;
  width: 231px;
}

.x02-about-checkmovie .checkmovie {
  left: 3px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x02-about-checkmovie .checkmovie-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x02-about-checkmovie .checkmovie-container-2 {
  height: 54px;
  left: 594px;
  position: absolute;
  top: 688px;
  width: 231px;
}

.x02-about-checkmovie .about-checkmovie {
  align-items: flex-end;
  display: flex;
  height: 86px;
  justify-content: flex-end;
  left: 440px;
  min-width: 555px;
  position: absolute;
  top: 118px;
}

.x02-about-checkmovie .about {
  color: var(--black-8);
  font-family: var(--font-family-abhaya_libre_semibold-regular);
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  min-height: 76px;
  min-width: 163px;
  text-align: center;
}

.x02-about-checkmovie .overlap-group7 {
  height: 86px;
  margin-left: 14px;
  position: relative;
  width: 813px;
}

.x02-about-checkmovie .rectangle-19 {
  height: 31px;
  left: 260px;
  position: absolute;
  top: 48px;
  width: 553px;
}

.x02-about-checkmovie .checkmovie-container-3 {
  height: 86px;
  left: 0;
  position: absolute;
  top: 0;
  width: 367px;
}

.x02-about-checkmovie .checkmovie-4 {
  color: transparent;
  font-family: var(--font-family-abril_fatface);
  font-size: 64px;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x02-about-checkmovie .checkmovie-5 {
  color: transparent;
  font-family: var(--font-family-abril_fatface);
  font-size: 64px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x02-about-checkmovie .checkmovie-but {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #00000040;
  display: flex;
  height: 128px;
  justify-content: flex-end;
  left: 604px;
  min-width: 611px;
  padding: 35px 96px;
  position: absolute;
  top: 1121px;
}

.x02-about-checkmovie .overlap-group1 {
  height: 57px;
  position: relative;
  width: 140px;
}

.x02-about-checkmovie .ellipse-container {
  height: 50px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 140px;
}

.x02-about-checkmovie .ellipse-18 {
  background-color: var(--mischka);
  border-radius: 25px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.x02-about-checkmovie .ellipse-16 {
  background-color: var(--mischka);
  border-radius: 25px;
  height: 50px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 50px;
}

.x02-about-checkmovie .ellipse-19 {
  background-color: var(--mischka);
  border-radius: 25px;
  height: 50px;
  left: 90px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  width: 50px;
}

.x02-about-checkmovie .ellipse-17 {
  background-color: var(--mischka);
  border-radius: 25px;
  height: 50px;
  left: 30px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  width: 50px;
}

.x02-about-checkmovie .go-to {
  left: 23px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.x02-about-checkmovie .checkmovie-container-4 {
  align-self: center;
  height: 54px;
  margin-left: 12px;
  position: relative;
  width: 231px;
}

.x02-about-checkmovie .overlap-group8 {
  height: 300px;
  position: relative;
  width: 1442px;
}

.x02-about-checkmovie .overlap-group-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x02-about-checkmovie .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x02-about-checkmovie .check-movie-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x02-about-checkmovie .check-movie-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .my-book-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x02-about-checkmovie .my-book-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .shop-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x02-about-checkmovie .shop-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x02-about-checkmovie .overlap-group1-1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x02-about-checkmovie .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
