/* screen - 03-1-checkmovie-result */

.x03-1-checkmovie-result {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x03-1-checkmovie-result .overlap-group-container {
  height: 207px;
  margin-left: -1px;
  position: relative;
  width: 1445px;
}

.x03-1-checkmovie-result .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x03-1-checkmovie-result .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x03-1-checkmovie-result .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x03-1-checkmovie-result .overlap-group8 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x03-1-checkmovie-result .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x03-1-checkmovie-result .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x03-1-checkmovie-result .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x03-1-checkmovie-result .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x03-1-checkmovie-result .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x03-1-checkmovie-result .overlap-group {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x03-1-checkmovie-result .text-72 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x03-1-checkmovie-result .left_-bar {
  align-items: flex-start;
  display: flex;
  min-width: 1450px;
}

.x03-1-checkmovie-result .overlap-group6 {
  align-items: center;
  background-image: url(../img/rectangle-3@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 1440px;
  padding: 0 65px;
}

.x03-1-checkmovie-result .overlap-group-1 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x03-1-checkmovie-result .text-71 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-1-checkmovie-result .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-1-checkmovie-result .recommend {
  height: 31px;
  margin-bottom: 0.2px;
  margin-left: 121px;
  width: 173px;
}

.x03-1-checkmovie-result .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 146px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-1-checkmovie-result .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-1-checkmovie-result .flex-row {
  align-items: center;
  display: flex;
  height: 1283px;
  margin-left: 0;
  min-width: 1384px;
}

.x03-1-checkmovie-result .overlap-group9 {
  align-self: flex-end;
  height: 1284px;
  margin-bottom: -0.5px;
  position: relative;
  width: 370px;
}

.x03-1-checkmovie-result .overlap-group-2 {
  height: 1284px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x03-1-checkmovie-result .feature-bg {
  background-color: var(--black-4);
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 370px;
}

.x03-1-checkmovie-result .left-bar {
  align-items: center;
  display: flex;
  height: 368px;
  left: 46px;
  min-width: 305px;
  position: absolute;
  top: 151px;
}

.x03-1-checkmovie-result .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 368px;
  width: 40px;
}

.x03-1-checkmovie-result .text-73 {
  letter-spacing: 0;
  margin-left: 4px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x03-1-checkmovie-result .text-74 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 37px;
  min-width: 40px;
  text-align: center;
}

.x03-1-checkmovie-result .text-76 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 47px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x03-1-checkmovie-result .text-75 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
}

.x03-1-checkmovie-result .text-77 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 47px;
  min-height: 37px;
  min-width: 36px;
  text-align: center;
}

.x03-1-checkmovie-result .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: 1.0px;
  min-height: 363px;
  width: 214px;
}

.x03-1-checkmovie-result .about-check-movie {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 214px;
}

.x03-1-checkmovie-result .check-movie-1 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 52px;
  min-height: 32px;
  min-width: 136px;
  text-align: center;
}

.x03-1-checkmovie-result .recommend-1 {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 52px;
  min-height: 32px;
  min-width: 133px;
  text-align: center;
}

.x03-1-checkmovie-result .my-book-1 {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 49px;
  min-height: 32px;
  min-width: 93px;
  text-align: center;
}

.x03-1-checkmovie-result .shop-1 {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 50px;
  min-height: 32px;
  min-width: 53px;
  text-align: center;
}

.x03-1-checkmovie-result .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 46px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 79px;
}

.x03-1-checkmovie-result .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .line-5 {
  height: 6px;
  margin-right: 2.0px;
  margin-top: 4px;
  width: 83px;
}

.x03-1-checkmovie-result .line-10 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1282px;
  width: 370px;
}

.x03-1-checkmovie-result .rectangle-34 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 217px;
  width: 370px;
}

.x03-1-checkmovie-result .line-10-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x03-1-checkmovie-result .coming-up {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12.0px;
  margin-left: 54px;
  min-height: 1137px;
  padding: 34px 15px;
  width: 960px;
}

.x03-1-checkmovie-result .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 27px;
  min-width: 854px;
}

.x03-1-checkmovie-result .overlap-group-3 {
  align-self: center;
  height: 105px;
  margin-top: 57.67px;
  position: relative;
  width: 100px;
}

.x03-1-checkmovie-result .rectangle-18 {
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.x03-1-checkmovie-result .text-66 {
  left: 35px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 38px;
  width: 25px;
}

.x03-1-checkmovie-result .overlap-group5 {
  align-items: flex-start;
  background-image: url(../img/image-5@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 643px;
  justify-content: flex-end;
  margin-left: 101px;
  min-width: 451px;
  padding: 10px 19px;
}

.x03-1-checkmovie-result .overlap-group2 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 25px 17px;
}

.x03-1-checkmovie-result .text-6 {
  -webkit-text-stroke: 1px var(--tulip-tree-2);
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 40px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  margin-top: 8px;
  min-height: 390px;
  width: 160px;
}

.x03-1-checkmovie-result .overlap-group1 {
  align-items: flex-start;
  background-color: var(--tulip-tree);
  border-radius: 50px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  min-width: 78px;
  padding: 25px 17px;
}

.x03-1-checkmovie-result .next-btn {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 212px;
  min-width: 102px;
  transform: rotate(-180deg);
}

.x03-1-checkmovie-result .rectangle-18-1 {
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  height: 100px;
  margin-left: -100px;
  margin-top: -100px;
  width: 100px;
}

.x03-1-checkmovie-result .text-65 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 14.0px;
  min-height: 24px;
  min-width: 25px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .overlap-group4 {
  align-items: flex-end;
  background-image: url(../img/title@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 102px;
  justify-content: flex-end;
  margin-left: 1.0px;
  margin-top: 37px;
  min-width: 845px;
  padding: 12px 48px;
}

.x03-1-checkmovie-result .text-70 {
  letter-spacing: 0;
  line-height: 60px;
  min-height: 71px;
  text-align: justify;
  white-space: nowrap;
  width: 702px;
}

.x03-1-checkmovie-result .overlap-group3 {
  align-items: center;
  align-self: flex-start;
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  display: flex;
  height: 143px;
  justify-content: flex-end;
  margin-top: 32px;
  min-width: 929px;
  padding: 0 7px;
}

.x03-1-checkmovie-result .text-69 {
  color: var(--cultured-pearl);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 60px;
  min-height: 119px;
  text-align: center;
  width: 913px;
}

.x03-1-checkmovie-result .s_login {
  align-items: flex-start;
  display: flex;
  margin-left: 17.0px;
  margin-top: 39px;
  min-width: 263px;
}

.x03-1-checkmovie-result .ellipse-1 {
  height: 46px;
  object-fit: cover;
  width: 46px;
}

.x03-1-checkmovie-result .ellipse-2 {
  height: 46px;
  margin-left: 24px;
  object-fit: cover;
  width: 46px;
}

.x03-1-checkmovie-result .ellipse-4 {
  height: 46px;
  margin-left: 28px;
  object-fit: cover;
  width: 46px;
}

.x03-1-checkmovie-result .ellipse-3 {
  height: 46px;
  margin-left: 27px;
  object-fit: cover;
  width: 46px;
}

.x03-1-checkmovie-result .footer {
  align-items: flex-start;
  display: flex;
  height: 300px;
  min-width: 1442px;
}

.x03-1-checkmovie-result .overlap-group-4 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 1440px;
}

.x03-1-checkmovie-result .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x03-1-checkmovie-result .check-movie-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x03-1-checkmovie-result .check-movie-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .my-book-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x03-1-checkmovie-result .my-book-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .shop-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x03-1-checkmovie-result .shop-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x03-1-checkmovie-result .overlap-group1-1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x03-1-checkmovie-result .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
