/* screen - 03-checkmovie */

.x03-checkmovie {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x03-checkmovie .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x03-checkmovie .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x03-checkmovie .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x03-checkmovie .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x03-checkmovie .overlap-group8 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x03-checkmovie .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x03-checkmovie .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x03-checkmovie .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x03-checkmovie .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x03-checkmovie .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x03-checkmovie .overlap-group {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x03-checkmovie .text-82 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x03-checkmovie .left_-bar {
  align-items: flex-start;
  display: flex;
  min-width: 1450px;
}

.x03-checkmovie .overlap-group6 {
  align-items: center;
  background-image: url(../img/rectangle-3@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 1440px;
  padding: 0 65px;
}

.x03-checkmovie .overlap-group-1 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x03-checkmovie .text-81 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-checkmovie .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-checkmovie .recommend {
  height: 31px;
  margin-bottom: 0.2px;
  margin-left: 121px;
  width: 173px;
}

.x03-checkmovie .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 146px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-checkmovie .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-checkmovie .overlap-group-container-1 {
  height: 1283px;
  margin-left: -2px;
  position: relative;
  width: 1440px;
}

.x03-checkmovie .overlap-group5 {
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x03-checkmovie .coming-up {
  align-items: flex-end;
  display: flex;
  height: 1283px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 93px 67px;
  position: absolute;
  top: 0;
}

.x03-checkmovie .overlap-group-2 {
  align-items: flex-start;
  background-image: url(../img/image-8@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 1096px;
  padding: 30px 86px;
  width: 933px;
}

.x03-checkmovie .flex-row {
  align-items: flex-start;
  display: flex;
  height: 54px;
  min-width: 755px;
}

.x03-checkmovie .domestic {
  color: var(--cornflower-lilac);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 54px;
  min-width: 173px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-checkmovie .overseas {
  letter-spacing: 0;
  margin-left: 414px;
  min-height: 54px;
  min-width: 168px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x03-checkmovie .image-container {
  align-self: flex-end;
  height: 834px;
  margin-right: 23.96px;
  margin-top: 76px;
  position: relative;
  width: 655px;
}

.x03-checkmovie .image-4 {
  height: 803px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 639px;
}

.x03-checkmovie .image-3 {
  height: 821px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 583px;
}

.x03-checkmovie .image-1 {
  height: 826px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 552px;
}

.x03-checkmovie .overlap-group2 {
  align-items: center;
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  display: flex;
  height: 50px;
  left: 766px;
  min-width: 254px;
  padding: 0 81px;
  position: absolute;
  top: 1110px;
}

.x03-checkmovie .text-78 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 91px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x03-checkmovie .overlap-group3 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  left: 665px;
  min-width: 78px;
  padding: 26px 18px;
  position: absolute;
  top: 309px;
}

.x03-checkmovie .text {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 40px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x03-checkmovie .overlap-group4 {
  align-items: flex-start;
  background-color: var(--tulip-tree);
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  left: 498px;
  min-width: 78px;
  padding: 26px 18px;
  position: absolute;
  top: 309px;
}

.x03-checkmovie .overlap-group9 {
  height: 1284px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 370px;
}

.x03-checkmovie .overlap-group-3 {
  height: 1284px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x03-checkmovie .feature-bg {
  background-color: var(--black-4);
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 370px;
}

.x03-checkmovie .left-bar {
  align-items: center;
  display: flex;
  height: 368px;
  left: 46px;
  min-width: 305px;
  position: absolute;
  top: 151px;
}

.x03-checkmovie .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 368px;
  width: 40px;
}

.x03-checkmovie .text-83 {
  letter-spacing: 0;
  margin-left: 4px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x03-checkmovie .text-84 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 37px;
  min-width: 40px;
  text-align: center;
}

.x03-checkmovie .text-86 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 47px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x03-checkmovie .text-85 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
}

.x03-checkmovie .text-87 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 47px;
  min-height: 37px;
  min-width: 36px;
  text-align: center;
}

.x03-checkmovie .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: 1.0px;
  min-height: 363px;
  width: 214px;
}

.x03-checkmovie .about-check-movie {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 214px;
}

.x03-checkmovie .check-movie-1 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 52px;
  min-height: 32px;
  min-width: 136px;
  text-align: center;
}

.x03-checkmovie .recommend-1 {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 52px;
  min-height: 32px;
  min-width: 133px;
  text-align: center;
}

.x03-checkmovie .my-book-1 {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 49px;
  min-height: 32px;
  min-width: 93px;
  text-align: center;
}

.x03-checkmovie .shop-1 {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 50px;
  min-height: 32px;
  min-width: 53px;
  text-align: center;
}

.x03-checkmovie .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 46px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 79px;
}

.x03-checkmovie .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .line-5 {
  height: 6px;
  margin-right: 2.0px;
  margin-top: 4px;
  width: 83px;
}

.x03-checkmovie .line-10 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1282px;
  width: 370px;
}

.x03-checkmovie .rectangle-34 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 217px;
  width: 370px;
}

.x03-checkmovie .line-10-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x03-checkmovie .footer {
  align-items: flex-start;
  display: flex;
  height: 300px;
  min-width: 1442px;
}

.x03-checkmovie .overlap-group-4 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 1440px;
}

.x03-checkmovie .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x03-checkmovie .check-movie-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x03-checkmovie .check-movie-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .domestic-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .overseas-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .my-book-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x03-checkmovie .my-book-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .shop-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x03-checkmovie .shop-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x03-checkmovie .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x03-checkmovie .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
