/* screen - 08-2-geomsaegeo-sunwi */

.x08-2-geomsaegeo-sunwi {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x08-2-geomsaegeo-sunwi .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x08-2-geomsaegeo-sunwi .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x08-2-geomsaegeo-sunwi .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x08-2-geomsaegeo-sunwi .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x08-2-geomsaegeo-sunwi .overlap-group5 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x08-2-geomsaegeo-sunwi .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x08-2-geomsaegeo-sunwi .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x08-2-geomsaegeo-sunwi .text-220 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x08-2-geomsaegeo-sunwi .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x08-2-geomsaegeo-sunwi .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 118.0px;
  min-width: 1202px;
}

.x08-2-geomsaegeo-sunwi .overlap-group3 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x08-2-geomsaegeo-sunwi .text-219 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-2-geomsaegeo-sunwi .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-2-geomsaegeo-sunwi .recommend {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 166px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-2-geomsaegeo-sunwi .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 149px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-2-geomsaegeo-sunwi .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x08-2-geomsaegeo-sunwi .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x08-2-geomsaegeo-sunwi .flex-row-1 {
  align-items: flex-start;
  display: flex;
  min-width: 809px;
}

.x08-2-geomsaegeo-sunwi .overlap-group {
  height: 1283px;
  position: relative;
  width: 370px;
}

.x08-2-geomsaegeo-sunwi .left-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1283px;
  position: absolute;
  top: 0;
  width: 370px;
}

.x08-2-geomsaegeo-sunwi .feature-bg {
  background-color: var(--black-4);
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 370px;
}

.x08-2-geomsaegeo-sunwi .view {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 66px;
  min-width: 261px;
  position: absolute;
  top: 349px;
}

.x08-2-geomsaegeo-sunwi .text-216 {
  letter-spacing: 0;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .search-ranking {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 45px;
  min-height: 32px;
  min-width: 172px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .view-1 {
  align-items: center;
  display: flex;
  height: 37px;
  left: 65px;
  min-width: 269px;
  position: absolute;
  top: 267px;
}

.x08-2-geomsaegeo-sunwi .text-217 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 34px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .gender-statistics {
  letter-spacing: 0;
  margin-left: 45px;
  margin-top: 1.0px;
  min-height: 32px;
  min-width: 186px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .view-2 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  left: 71px;
  min-width: 266px;
  position: absolute;
  top: 190px;
}

.x08-2-geomsaegeo-sunwi .text-218 {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 21px;
}

.x08-2-geomsaegeo-sunwi .statistics-by-age {
  letter-spacing: 0;
  margin-left: 52px;
  min-height: 32px;
  text-align: center;
  width: 189px;
}

.x08-2-geomsaegeo-sunwi .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 61px;
  min-height: 31px;
  position: absolute;
  top: 101px;
  width: 79px;
}

.x08-2-geomsaegeo-sunwi .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .line-5-1 {
  height: 6px;
  margin-left: 3.77px;
  margin-top: 7px;
  width: 83px;
}

.x08-2-geomsaegeo-sunwi .rectangle-33 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 329px;
  width: 370px;
}

.x08-2-geomsaegeo-sunwi .line-11 {
  height: 1px;
  width: 370px;
}

.x08-2-geomsaegeo-sunwi .line-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x08-2-geomsaegeo-sunwi .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 67px;
  margin-top: 77px;
  min-height: 619px;
  width: 372px;
}

.x08-2-geomsaegeo-sunwi .overlap-group13 {
  height: 72px;
  position: relative;
  width: 370px;
}

.x08-2-geomsaegeo-sunwi .rectangle-30 {
  background-color: var(--mischka);
  height: 27px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 370px;
}

.x08-2-geomsaegeo-sunwi .search-ranking-1 {
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 359px;
}

.x08-2-geomsaegeo-sunwi .overlap-group11 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-left: -3px;
  margin-top: 63px;
  min-height: 487px;
  padding: 25px 4px;
  width: 313px;
}

.x08-2-geomsaegeo-sunwi .view-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  min-height: 58px;
  width: 234px;
}

.x08-2-geomsaegeo-sunwi .flex-row-2 {
  align-items: flex-end;
  display: flex;
  height: 25px;
  margin-left: 2px;
  min-width: 188px;
}

.x08-2-geomsaegeo-sunwi .overlap-group-4 {
  height: 24px;
  position: relative;
  width: 142px;
}

.x08-2-geomsaegeo-sunwi .rectangle-30-1 {
  background-color: var(--mischka);
  height: 12px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 142px;
}

.x08-2-geomsaegeo-sunwi .text-224 {
  color: var(--vulcan);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x08-2-geomsaegeo-sunwi .text-221 {
  color: var(--tulip-tree);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 25px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  width: 35px;
}

.x08-2-geomsaegeo-sunwi .text-223 {
  color: var(--black-6);
  font-family: var(--font-family-font_awesome_6_free-regular);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 10px;
  text-align: center;
  width: 228px;
}

.x08-2-geomsaegeo-sunwi .text-222 {
  color: var(--tulip-tree);
  font-family: var(--font-family-abril_fatface);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 5px;
  min-height: 13px;
  width: 158px;
}

.x08-2-geomsaegeo-sunwi .overlap-group12 {
  align-self: flex-end;
  height: 327px;
  margin-top: 30px;
  position: relative;
  width: 289px;
}

.x08-2-geomsaegeo-sunwi .x {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 327px;
  position: absolute;
  top: 0;
  width: 44px;
}

.x08-2-geomsaegeo-sunwi .overlap-group7 {
  height: 21px;
  margin-left: 6.55px;
  position: relative;
  width: 16px;
}

.x08-2-geomsaegeo-sunwi .number-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 11px;
}

.x08-2-geomsaegeo-sunwi .ellipse {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 1px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x08-2-geomsaegeo-sunwi .overlap-group-1 {
  height: 21px;
  margin-left: 6.55px;
  margin-top: 13px;
  position: relative;
  width: 16px;
}

.x08-2-geomsaegeo-sunwi .number {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 13px;
}

.x08-2-geomsaegeo-sunwi .overlap-group-2 {
  height: 21px;
  margin-left: 4.36px;
  margin-top: 13px;
  position: relative;
  width: 19px;
}

.x08-2-geomsaegeo-sunwi .number-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 15px;
}

.x08-2-geomsaegeo-sunwi .ellipse-1 {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 4px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x08-2-geomsaegeo-sunwi .overlap-group3-1 {
  height: 21px;
  margin-top: 13px;
  position: relative;
  width: 24px;
}

.x08-2-geomsaegeo-sunwi .number-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 24px;
}

.x08-2-geomsaegeo-sunwi .ellipse-15 {
  background-color: var(--mischka);
  border-radius: 7.5px;
  height: 15px;
  left: 8px;
  mix-blend-mode: darken;
  position: absolute;
  top: 6px;
  width: 15px;
}

.x08-2-geomsaegeo-sunwi .x-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 41px;
  min-height: 324px;
  position: absolute;
  top: 3px;
  width: 220px;
}

.x08-2-geomsaegeo-sunwi .check-movie-1 {
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 18px;
  min-width: 107px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .line-5 {
  align-self: flex-end;
  height: 6px;
  margin-right: -400.77px;
  width: 126px;
}

.x08-2-geomsaegeo-sunwi .text-225 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 8px;
  min-height: 18px;
}

.x08-2-geomsaegeo-sunwi .line-6 {
  align-self: flex-end;
  height: 6px;
  margin-right: -430.77px;
  margin-top: 1px;
  width: 156px;
}

.x08-2-geomsaegeo-sunwi .text-227 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 9px;
  min-height: 20px;
  min-width: 36px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .line-7 {
  align-self: flex-end;
  height: 6px;
  margin-right: -320.77px;
  width: 46px;
}

.x08-2-geomsaegeo-sunwi .text-2 {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 10px;
  min-height: 18px;
}

.x08-2-geomsaegeo-sunwi .line-7-1 {
  align-self: flex-end;
  height: 6px;
  margin-right: -370.77px;
  width: 96px;
}

.x08-2-geomsaegeo-sunwi .line-8 {
  align-self: flex-end;
  height: 6px;
  margin-right: -355.77px;
  width: 81px;
}

.x08-2-geomsaegeo-sunwi .text-2-1 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 10px;
  min-height: 18px;
}

.x08-2-geomsaegeo-sunwi .line-9 {
  align-self: flex-end;
  height: 6px;
  margin-right: -480.77px;
  width: 206px;
}

.x08-2-geomsaegeo-sunwi .text-226 {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 8px;
  min-height: 20px;
  min-width: 64px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .line-10 {
  align-self: flex-end;
  height: 6px;
  margin-right: -350.77px;
  width: 76px;
}

.x08-2-geomsaegeo-sunwi .text-232 {
  letter-spacing: 0;
  margin-left: 5px;
  margin-top: 9px;
  min-height: 18px;
}

.x08-2-geomsaegeo-sunwi .line-6-1 {
  align-self: flex-end;
  height: 6px;
  margin-right: -395.77px;
  width: 121px;
}

.x08-2-geomsaegeo-sunwi .text-231 {
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 11px;
  min-height: 18px;
}

.x08-2-geomsaegeo-sunwi .line-11-1 {
  align-self: flex-end;
  height: 6px;
  margin-right: -415.77px;
  width: 141px;
}

.x08-2-geomsaegeo-sunwi .updown-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 256px;
  min-height: 323px;
  position: absolute;
  top: 3px;
  width: 33px;
}

.x08-2-geomsaegeo-sunwi .text-243 {
  height: 12px;
  letter-spacing: 0;
  text-align: center;
  width: 13px;
}

.x08-2-geomsaegeo-sunwi .text-242 {
  height: 12px;
  letter-spacing: 0;
  margin-top: 21px;
  text-align: center;
  width: 13px;
}

.x08-2-geomsaegeo-sunwi .text-241 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 24px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .text-240 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 14px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .text-239 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 19px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .text-238 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 17px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .text-237 {
  height: 12px;
  letter-spacing: 0;
  margin-top: 16px;
  text-align: center;
  width: 13px;
}

.x08-2-geomsaegeo-sunwi .text-236 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 23px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .text-235 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 16px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .text-234 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 18px;
  min-height: 17px;
  min-width: 10px;
  text-align: center;
}

.x08-2-geomsaegeo-sunwi .overlap-group15 {
  height: 300px;
  position: relative;
  width: 1442px;
}

.x08-2-geomsaegeo-sunwi .overlap-group-5 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x08-2-geomsaegeo-sunwi .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x08-2-geomsaegeo-sunwi .check-movie-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x08-2-geomsaegeo-sunwi .check-movie-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x08-2-geomsaegeo-sunwi .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x08-2-geomsaegeo-sunwi .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x08-2-geomsaegeo-sunwi .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x08-2-geomsaegeo-sunwi .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
