/* screen - 10-my-page */

.x10-my-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x10-my-page .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x10-my-page .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x10-my-page .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x10-my-page .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x10-my-page .overlap-group4 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x10-my-page .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x10-my-page .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x10-my-page .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x10-my-page .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x10-my-page .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x10-my-page .overlap-group {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x10-my-page .text-211 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x10-my-page .left_-bar {
  align-items: flex-start;
  display: flex;
  min-width: 1450px;
}

.x10-my-page .overlap-group2 {
  align-items: center;
  background-image: url(../img/rectangle-3@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 1440px;
  padding: 0 65px;
}

.x10-my-page .overlap-group-1 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x10-my-page .text-210 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-my-page .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-my-page .recommend {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 166px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-my-page .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 149px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-my-page .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x10-my-page .overlap-group-container-1 {
  height: 1583px;
  position: relative;
  width: 1442px;
}

.x10-my-page .overlap-group9 {
  height: 1583px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.x10-my-page .overlap-group-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 1283px;
  width: 1440px;
}

.x10-my-page .flex-row {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x10-my-page .check-movie-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x10-my-page .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x10-my-page .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x10-my-page .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x10-my-page .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .left-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1284px;
  position: absolute;
  top: 0;
  width: 370px;
}

.x10-my-page .line-10 {
  height: 1px;
  width: 370px;
}

.x10-my-page .overlap-group5 {
  height: 1283px;
  position: relative;
  width: 381px;
}

.x10-my-page .overlap-group-3 {
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  width: 381px;
}

.x10-my-page .feature-bg {
  background-color: var(--black-4);
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 370px;
}

.x10-my-page .left-bar-1 {
  align-items: center;
  display: flex;
  height: 368px;
  left: 46px;
  min-width: 335px;
  position: absolute;
  top: 151px;
}

.x10-my-page .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 368px;
  width: 40px;
}

.x10-my-page .text-212 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 37px;
  min-width: 36px;
  text-align: center;
}

.x10-my-page .text-216 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 48px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x10-my-page .text-214 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 46px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x10-my-page .text-213 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
}

.x10-my-page .text-215 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 37px;
  min-width: 40px;
  text-align: center;
}

.x10-my-page .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 1.0px;
  min-height: 364px;
  width: 262px;
}

.x10-my-page .personal-information {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 262px;
}

.x10-my-page .security {
  letter-spacing: 0;
  margin-right: 11.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 95px;
  text-align: center;
}

.x10-my-page .recent-records {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 172px;
  text-align: center;
}

.x10-my-page .users-and-shares {
  letter-spacing: 0;
  margin-right: 5.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 189px;
  text-align: center;
}

.x10-my-page .login {
  letter-spacing: 0;
  margin-right: 15.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 63px;
  text-align: center;
}

.x10-my-page .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 46px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 79px;
}

.x10-my-page .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x10-my-page .line-5 {
  height: 6px;
  margin-right: 2.0px;
  margin-top: 4px;
  width: 83px;
}

.x10-my-page .line-10-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1282px;
  width: 370px;
}

.x10-my-page .rectangle-33 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 132px;
  width: 370px;
}

.x10-my-page .overlap-group11 {
  height: 300px;
  left: 426px;
  position: absolute;
  top: 79px;
  width: 933px;
}

.x10-my-page .text {
  color: var(--black);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 402px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 95px;
}

.x10-my-page .personal-information-1 {
  align-items: flex-start;
  display: flex;
  height: 300px;
  left: 0;
  min-width: 933px;
  position: absolute;
  top: 0;
}

.x10-my-page .x4308327_diagram_feat {
  height: 300px;
  object-fit: cover;
  width: 326px;
}

.x10-my-page .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 5px;
  min-height: 246px;
  width: 568px;
}

.x10-my-page .overlap-group6 {
  height: 131px;
  position: relative;
  width: 486px;
}

.x10-my-page .rectangle-30 {
  background-color: var(--mischka);
  height: 27px;
  left: 0;
  position: absolute;
  top: 104px;
  width: 486px;
}

.x10-my-page .rectangle-30-1 {
  background-color: var(--mischka);
  height: 27px;
  left: 156px;
  position: absolute;
  top: 39px;
  width: 174px;
}

.x10-my-page .s-personal-information {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 486px;
}

.x10-my-page .x {
  letter-spacing: 0;
  margin-top: 34px;
  min-height: 81px;
  text-align: center;
  width: 568px;
}

.x10-my-page .overlap-group7 {
  height: 90px;
  left: 463px;
  position: absolute;
  top: 432px;
  width: 180px;
}

.x10-my-page .ellipse-21 {
  background-color: var(--mischka-3);
  border-radius: 45px;
  height: 90px;
  left: 45px;
  position: absolute;
  top: 0;
  width: 90px;
}

.x10-my-page .ellipse-20 {
  background-color: #d7a6a6;
  border-radius: 45px;
  height: 90px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 90px;
}

.x10-my-page .ellipse-20-1 {
  background-color: #898da2;
  border-radius: 45px;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
}

.x10-my-page .basic {
  left: 41px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 15px;
}

.x10-my-page .flex-row-1 {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 10px;
  display: flex;
  height: 505px;
  left: 463px;
  min-width: 888px;
  padding: 49px 64px;
  position: absolute;
  top: 565px;
}

.x10-my-page .flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 402px;
  width: 139px;
}

.x10-my-page .place-1 {
  letter-spacing: 0;
  min-height: 54px;
  min-width: 105px;
  text-align: center;
}

.x10-my-page .age {
  letter-spacing: 0;
  margin-top: 33px;
  min-height: 54px;
  min-width: 69px;
  text-align: center;
}

.x10-my-page .gender {
  letter-spacing: 0;
  margin-top: 33px;
  min-height: 54px;
  min-width: 139px;
  text-align: center;
}

.x10-my-page .email {
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 33px;
  min-height: 54px;
  min-width: 108px;
  text-align: center;
}

.x10-my-page .id {
  letter-spacing: 0;
  margin-top: 33px;
  min-height: 54px;
  min-width: 45px;
  text-align: center;
}

.x10-my-page .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 134px;
  min-height: 402px;
  width: 363px;
}

.x10-my-page .text-217 {
  letter-spacing: 0;
  min-height: 54px;
  min-width: 111px;
  text-align: center;
}

.x10-my-page .text-218 {
  letter-spacing: 0;
  margin-top: 33px;
  min-height: 54px;
  min-width: 91px;
  text-align: center;
}

.x10-my-page .text-219 {
  letter-spacing: 0;
  margin-top: 33px;
  min-height: 54px;
  min-width: 40px;
  text-align: center;
}

.x10-my-page .hong97gmailcom {
  letter-spacing: 0;
  margin-top: 33px;
  min-height: 54px;
  min-width: 363px;
  text-align: center;
}

.x10-my-page .hong97 {
  letter-spacing: 0;
  margin-top: 33px;
  min-height: 54px;
  min-width: 137px;
  text-align: center;
}
