/* screen - 11-1-sign-up */

.x11-1-sign-up {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x11-1-sign-up .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x11-1-sign-up .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x11-1-sign-up .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x11-1-sign-up .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x11-1-sign-up .overlap-group4 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x11-1-sign-up .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x11-1-sign-up .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x11-1-sign-up .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x11-1-sign-up .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x11-1-sign-up .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x11-1-sign-up .overlap-group {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x11-1-sign-up .text-168 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x11-1-sign-up .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x11-1-sign-up .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 118.0px;
  min-width: 1202px;
}

.x11-1-sign-up .overlap-group2 {
  align-items: center;
  background-color: var(--blue-zodiac-2);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x11-1-sign-up .text-167 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x11-1-sign-up .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x11-1-sign-up .recommend {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 166px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x11-1-sign-up .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 149px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x11-1-sign-up .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x11-1-sign-up .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x11-1-sign-up .overlap-group-container-1 {
  height: 1583px;
  position: relative;
  width: 1442px;
}

.x11-1-sign-up .overlap-group-container-2 {
  height: 1583px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.x11-1-sign-up .overlap-group-1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 1283px;
  width: 1440px;
}

.x11-1-sign-up .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x11-1-sign-up .check-movie-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x11-1-sign-up .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .recommend-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x11-1-sign-up .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x11-1-sign-up .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .overlap-group1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x11-1-sign-up .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .overlap-group5 {
  height: 1284px;
  left: 0;
  position: absolute;
  top: 0;
  width: 381px;
}

.x11-1-sign-up .overlap-group-2 {
  height: 1284px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 381px;
}

.x11-1-sign-up .feature-bg {
  background-color: var(--black-4);
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 370px;
}

.x11-1-sign-up .left-bar {
  align-items: center;
  display: flex;
  height: 368px;
  left: 46px;
  min-width: 335px;
  position: absolute;
  top: 151px;
}

.x11-1-sign-up .text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 368px;
  width: 40px;
}

.x11-1-sign-up .text-169 {
  letter-spacing: 0;
  margin-left: 2px;
  min-height: 37px;
  min-width: 36px;
  text-align: center;
}

.x11-1-sign-up .text-173 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 48px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x11-1-sign-up .text-171 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 46px;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x11-1-sign-up .text-170 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 32px;
  min-width: 40px;
  text-align: center;
}

.x11-1-sign-up .text-172 {
  letter-spacing: 0;
  margin-top: 47px;
  min-height: 37px;
  min-width: 40px;
  text-align: center;
}

.x11-1-sign-up .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 1.0px;
  min-height: 364px;
  width: 262px;
}

.x11-1-sign-up .personal-information {
  letter-spacing: 0;
  min-height: 32px;
  text-align: center;
  width: 262px;
}

.x11-1-sign-up .security {
  letter-spacing: 0;
  margin-right: 11.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 95px;
  text-align: center;
}

.x11-1-sign-up .recent-records {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 172px;
  text-align: center;
}

.x11-1-sign-up .users-and-shares {
  letter-spacing: 0;
  margin-right: 5.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 189px;
  text-align: center;
}

.x11-1-sign-up .login {
  letter-spacing: 0;
  margin-right: 15.0px;
  margin-top: 51px;
  min-height: 32px;
  min-width: 63px;
  text-align: center;
}

.x11-1-sign-up .more {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 46px;
  min-height: 31px;
  position: absolute;
  top: 65px;
  width: 79px;
}

.x11-1-sign-up .place {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 3.06px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x11-1-sign-up .line-5 {
  height: 6px;
  margin-left: 3.77px;
  margin-top: 7px;
  width: 83px;
}

.x11-1-sign-up .line-10 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1282px;
  width: 370px;
}

.x11-1-sign-up .rectangle-33 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 464px;
  width: 370px;
}

.x11-1-sign-up .line-10-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.x11-1-sign-up .overlap-group7 {
  height: 1157px;
  left: 422px;
  position: absolute;
  top: 60px;
  width: 1382px;
}

.x11-1-sign-up .rectangle-21 {
  background-color: var(--cultured-pearl);
  border-radius: 50px;
  height: 1157px;
  left: 0;
  position: absolute;
  top: 0;
  width: 960px;
}

.x11-1-sign-up .rectangle-10 {
  background-color: #f3b742cc;
  border-radius: 0px 0px 50px 50px;
  height: 110px;
  left: 0;
  position: absolute;
  top: 1047px;
  width: 960px;
}

.x11-1-sign-up .mask-group {
  height: 198px;
  left: 422px;
  position: absolute;
  top: 337px;
  width: 960px;
}

.x11-1-sign-up .back-to-login {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 396px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1083px;
}

.x11-1-sign-up .span0-1 {
  color: var(--white);
}

.x11-1-sign-up .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 10px solid var(--tulip-tree-2);
  border-radius: 95px;
  display: flex;
  height: 190px;
  left: 397px;
  min-width: 190px;
  padding: 17.0px 17px;
  position: absolute;
  top: 39px;
}

.x11-1-sign-up .rectangle-29 {
  height: 136px;
  object-fit: cover;
  width: 136px;
}

.x11-1-sign-up .overlap-group1-1 {
  align-items: center;
  background-color: #991f1fb2;
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 92px;
  min-width: 776px;
  padding: 0 318px;
  position: absolute;
  top: 912px;
}

.x11-1-sign-up .sign-up {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 35px;
  min-width: 116px;
  text-align: center;
  text-shadow: 1px 1px 1px #00000040;
}

.x11-1-sign-up .overlap-group2-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 92px;
  min-width: 776px;
  padding: 0 29px;
  position: absolute;
  top: 781px;
}

.x11-1-sign-up .text-174 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 32px;
  text-align: center;
}

.x11-1-sign-up .email-address {
  letter-spacing: 0;
  margin-left: 24px;
  margin-top: 1.0px;
  min-height: 28px;
  min-width: 154px;
  text-align: center;
}

.x11-1-sign-up .overlap-group3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 92px;
  min-width: 776px;
  padding: 30px 29px;
  position: absolute;
  top: 645px;
}

.x11-1-sign-up .text-175 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 28px;
  text-align: center;
}

.x11-1-sign-up .password {
  letter-spacing: 0;
  margin-left: 26px;
  min-height: 28px;
  min-width: 107px;
  text-align: center;
}

.x11-1-sign-up .overlap-group4-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 92px;
  min-width: 776px;
  padding: 0 25px;
  position: absolute;
  top: 512px;
}

.x11-1-sign-up .text-176 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 36px;
  text-align: center;
}

.x11-1-sign-up .id {
  letter-spacing: 0;
  margin-left: 23px;
  margin-top: 1.0px;
  min-height: 28px;
  min-width: 23px;
  text-align: center;
}

.x11-1-sign-up .overlap-group5-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 92px;
  min-width: 776px;
  padding: 30px 27px;
  position: absolute;
  top: 252px;
}

.x11-1-sign-up .text-177 {
  align-self: flex-end;
  color: var(--black-7);
  font-family: var(--font-family-font_awesome_5_free-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 37px;
  min-width: 31px;
  text-align: center;
}

.x11-1-sign-up .place-1 {
  letter-spacing: 0;
  margin-left: 25px;
  margin-top: 1.0px;
  min-height: 28px;
  min-width: 64px;
  text-align: center;
}

.x11-1-sign-up .gender {
  align-items: center;
  display: flex;
  height: 99px;
  justify-content: flex-end;
  left: 487px;
  min-width: 385px;
  position: absolute;
  top: 382px;
}

.x11-1-sign-up .text-178 {
  color: var(--black-7);
  font-family: var(--font-family-font_awesome_6_free-solid);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 1.0px;
  min-height: 32px;
  min-width: 20px;
  text-align: center;
}

.x11-1-sign-up .gender-1 {
  letter-spacing: 0;
  margin-bottom: 3.0px;
  margin-left: 30px;
  min-height: 28px;
  min-width: 77px;
  text-align: center;
}

.x11-1-sign-up .rectangle-28 {
  align-self: flex-end;
  height: 99px;
  margin-bottom: -719px;
  margin-left: 749px;
  width: 381px;
}

.x11-1-sign-up .overlap-group6 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 99px;
  left: 89px;
  min-width: 381px;
  padding: 30px 23px;
  position: absolute;
  top: 383px;
}

.x11-1-sign-up .text-179 {
  letter-spacing: 0;
  min-height: 37px;
  min-width: 40px;
  text-align: center;
}

.x11-1-sign-up .age {
  align-self: center;
  letter-spacing: 0;
  margin-left: 21px;
  margin-top: 1.0px;
  min-height: 28px;
  min-width: 42px;
  text-align: center;
}
