/* screen - 01-1-left-bar */

.x01-1-left-bar {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x01-1-left-bar .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x01-1-left-bar .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x01-1-left-bar .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x01-1-left-bar .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x01-1-left-bar .overlap-group12 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 6px 145px;
  position: absolute;
  top: -2px;
}

.x01-1-left-bar .navbar {
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x01-1-left-bar .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x01-1-left-bar .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x01-1-left-bar .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x01-1-left-bar .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x01-1-left-bar .overlap-group {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 5px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 496px;
  min-width: 332px;
  padding: 6px 10px;
}

.x01-1-left-bar .text-22 {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 37px;
}

.x01-1-left-bar .overlap-group14 {
  height: 723px;
  position: relative;
  width: 1450px;
}

.x01-1-left-bar .overlap-group8 {
  height: 285px;
  left: 165px;
  position: absolute;
  top: 438px;
  width: 1115px;
}

.x01-1-left-bar .rectangle-19 {
  height: 13px;
  left: 1px;
  position: absolute;
  top: 53px;
  width: 355px;
}

.x01-1-left-bar .about-checkmovie {
  align-items: flex-end;
  display: flex;
  height: 285px;
  left: 0;
  min-width: 1115px;
  position: absolute;
  top: 0;
}

.x01-1-left-bar .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 285px;
  width: 540px;
}

.x01-1-left-bar .flex-row {
  align-items: flex-end;
  display: flex;
  margin-left: 5px;
  min-width: 345px;
}

.x01-1-left-bar .about {
  color: #00000099;
  font-family: var(--font-family-abhaya_libre_semibold-regular);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 47px;
  min-width: 102px;
  text-align: center;
}

.x01-1-left-bar .checkmovie-container-1 {
  height: 54px;
  margin-left: 12px;
  position: relative;
  width: 231px;
}

.x01-1-left-bar .checkmovie-2 {
  left: 3px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x01-1-left-bar .checkmovie-3 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
}

.x01-1-left-bar .recommend-a-book-tha {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 31px;
  min-height: 200px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  width: 540px;
}

.x01-1-left-bar .x1-promoting-the-di {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 29px;
  min-height: 200px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  width: 540px;
}

.x01-1-left-bar .view {
  align-items: flex-start;
  background-color: #0000004c;
  display: flex;
  height: 300px;
  left: 0;
  min-width: 1440px;
  padding: 0 165px;
  position: absolute;
  top: 101px;
}

.x01-1-left-bar .overlap-group9 {
  height: 300px;
  position: relative;
  width: 1110px;
}

.x01-1-left-bar .text-container {
  align-items: flex-start;
  background-color: var(--old-brick);
  display: flex;
  flex-direction: column;
  left: 740px;
  min-height: 300px;
  padding: 82px 96px;
  position: absolute;
  top: 0;
  width: 370px;
}

.x01-1-left-bar .text-16 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 1px;
  min-height: 64px;
  min-width: 80px;
  text-align: center;
}

.x01-1-left-bar .text-1 {
  letter-spacing: 0;
  margin-top: 22px;
  min-height: 49px;
  min-width: 173px;
  text-align: center;
}

.x01-1-left-bar .text-container-1 {
  align-items: flex-start;
  background-color: var(--tulip-tree);
  border: 3px solid var(--tulip-tree-2);
  display: flex;
  flex-direction: column;
  left: 370px;
  min-height: 300px;
  padding: 82px 112px;
  position: absolute;
  top: 0;
  width: 370px;
}

.x01-1-left-bar .text-18 {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  margin-right: 6.0px;
  margin-top: 1px;
  min-height: 74px;
  min-width: 68px;
  text-align: center;
}

.x01-1-left-bar .text-17 {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 49px;
  min-width: 139px;
  text-align: center;
}

.x01-1-left-bar .text-container-2 {
  align-items: flex-start;
  background-color: var(--old-brick);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 300px;
  padding: 82px 95px;
  position: absolute;
  top: 0;
  width: 370px;
}

.x01-1-left-bar .text-20 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 6.0px;
  margin-top: 1px;
  min-height: 64px;
  min-width: 64px;
  text-align: center;
}

.x01-1-left-bar .line-1 {
  align-items: flex-end;
  display: flex;
  height: 300px;
  justify-content: center;
  left: 0;
  min-width: 1110px;
  position: absolute;
  top: 0;
}

.x01-1-left-bar .line-3 {
  height: 300px;
  margin-bottom: -308px;
  width: 1px;
}

.x01-1-left-bar .line {
  height: 300px;
  margin-bottom: -308px;
  margin-left: 369px;
  width: 1px;
}

.x01-1-left-bar .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 70px;
  position: absolute;
  top: 0;
  width: 1450px;
}

.x01-1-left-bar .flex-row-1 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 118.0px;
  min-width: 1202px;
}

.x01-1-left-bar .overlap-group10 {
  align-items: center;
  background-color: var(--blue-zodiac);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x01-1-left-bar .text-21 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-1-left-bar .check-movie {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-1-left-bar .recommand {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 125px;
  min-height: 40px;
  min-width: 167px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-1-left-bar .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 148px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-1-left-bar .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x01-1-left-bar .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x01-1-left-bar .overlap-group13 {
  height: 400px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 1440px;
}

.x01-1-left-bar .overlap-group-1 {
  align-items: center;
  background-color: #1f274ecc;
  display: flex;
  height: 400px;
  left: 0;
  min-width: 1440px;
  padding: 31px 72px;
  position: absolute;
  top: 0;
}

.x01-1-left-bar .place {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 56px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .check-movie-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 65.0px;
  margin-left: 139px;
  min-height: 123px;
  width: 143px;
}

.x01-1-left-bar .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 6.0px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .domestic {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 18.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .overseas {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 23.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .recommand-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 116.0px;
  margin-left: 119px;
  min-height: 72px;
  width: 210px;
}

.x01-1-left-bar .recommand-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 11.0px;
  min-height: 24px;
  min-width: 133px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .recommand-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .my-book-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 58px;
  min-height: 174px;
  width: 284px;
}

.x01-1-left-bar .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .shop-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 14.0px;
  margin-left: 107px;
  min-height: 174px;
  width: 88px;
}

.x01-1-left-bar .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 9.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 8.0px;
  margin-top: 27px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .line-5 {
  height: 6px;
  left: 59px;
  position: absolute;
  top: 59px;
  width: 83px;
}

.x01-1-left-bar .line-6 {
  height: 6px;
  left: 246px;
  position: absolute;
  top: 136px;
  width: 176px;
}

.x01-1-left-bar .line-7 {
  height: 6px;
  left: 541px;
  position: absolute;
  top: 136px;
  width: 176px;
}

.x01-1-left-bar .line-8 {
  height: 6px;
  left: 857px;
  position: absolute;
  top: 136px;
  width: 156px;
}

.x01-1-left-bar .line-9 {
  height: 6px;
  left: 1169px;
  position: absolute;
  top: 136px;
  width: 126px;
}

.x01-1-left-bar .line-10 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 1440px;
}

.x01-1-left-bar .coming-up {
  align-items: flex-start;
  display: flex;
  margin-top: 42px;
  min-width: 1440px;
}

.x01-1-left-bar .overlap-group7 {
  height: 506px;
  position: relative;
  width: 1440px;
}

.x01-1-left-bar .coming-up-1 {
  align-items: flex-start;
  background-color: var(--iron);
  display: flex;
  height: 506px;
  left: 0;
  min-width: 1440px;
  padding: 40px 165px;
  position: absolute;
  top: 0;
}

.x01-1-left-bar .coming-up-container {
  height: 39px;
  position: relative;
  width: 239px;
}

.x01-1-left-bar .coming-up-2 {
  left: 3px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 0;
  width: 236px;
}

.x01-1-left-bar .coming-up-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 0;
  width: 236px;
}

.x01-1-left-bar .item {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 165px;
  min-height: 254px;
  position: absolute;
  top: 107px;
  width: 256px;
}

.x01-1-left-bar .overlap-group1 {
  align-items: center;
  background-color: var(--black-5);
  display: flex;
  height: 50px;
  margin-right: 2px;
  margin-top: 204px;
  min-width: 254px;
  padding: 0 63px;
}

.x01-1-left-bar .about-time {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 116px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x01-1-left-bar .item-1 {
  height: 254px;
  margin-right: -163px;
  margin-top: 825px;
  object-fit: cover;
  width: 254px;
}

.x01-1-left-bar .item-2 {
  align-items: flex-end;
  display: flex;
  height: 254px;
  left: 1021px;
  min-width: 256px;
  position: absolute;
  top: 107px;
}

.x01-1-left-bar .overlap-group2 {
  align-items: center;
  background-color: var(--black-5);
  display: flex;
  height: 50px;
  min-width: 254px;
  padding: 0 18px;
}

.x01-1-left-bar .the-lord-of-the-rings {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 217px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x01-1-left-bar .item-3 {
  height: 254px;
  margin-bottom: -1079px;
  margin-left: 767px;
  object-fit: cover;
  width: 254px;
}

.x01-1-left-bar .item-4 {
  align-items: flex-end;
  display: flex;
  height: 254px;
  left: 734px;
  min-width: 256px;
  position: absolute;
  top: 107px;
}

.x01-1-left-bar .overlap-group3 {
  align-items: center;
  background-color: var(--black-5);
  display: flex;
  height: 50px;
  min-width: 254px;
  padding: 0 40px;
}

.x01-1-left-bar .the-great-gatsby {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 173px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x01-1-left-bar .item-5 {
  height: 254px;
  margin-bottom: -1079px;
  margin-left: 480px;
  object-fit: cover;
  width: 254px;
}

.x01-1-left-bar .item-6 {
  align-items: flex-end;
  display: flex;
  height: 254px;
  left: 450px;
  min-width: 256px;
  position: absolute;
  top: 107px;
}

.x01-1-left-bar .overlap-group4 {
  align-items: center;
  background-color: var(--black-5);
  display: flex;
  height: 50px;
  min-width: 254px;
  padding: 0 63px;
}

.x01-1-left-bar .name {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 126px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x01-1-left-bar .item-7 {
  height: 254px;
  margin-bottom: -1079px;
  margin-left: 196px;
  width: 254px;
}

.x01-1-left-bar .overlap-group5 {
  align-items: center;
  background-color: var(--black-3);
  border-radius: 4px;
  display: flex;
  height: 36px;
  left: 100px;
  min-width: 36px;
  padding: 0 13px;
  position: absolute;
  top: 217px;
}

.x01-1-left-bar .text-13 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 9px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .next-btn {
  align-items: flex-start;
  display: flex;
  height: 36px;
  left: 1305px;
  min-width: 38px;
  position: absolute;
  top: 217px;
  transform: rotate(-180deg);
}

.x01-1-left-bar .rectangle-18 {
  background-color: var(--black-3);
  border-radius: 4px;
  height: 36px;
  margin-left: -36px;
  margin-top: -36px;
  width: 36px;
}

.x01-1-left-bar .text-14 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 4px;
  margin-top: -18px;
  min-height: 24px;
  min-width: 9px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .overlap-group6 {
  align-items: center;
  background-color: #000000cc;
  border-radius: 4px;
  display: flex;
  height: 60px;
  left: 598px;
  min-width: 243px;
  padding: 0 63px;
  position: absolute;
  top: 407px;
}

.x01-1-left-bar .more-movies {
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 113px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .footer {
  align-items: flex-start;
  display: flex;
  height: 300px;
  margin-top: 82px;
  min-width: 1442px;
}

.x01-1-left-bar .overlap-group-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 1440px;
}

.x01-1-left-bar .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x01-1-left-bar .check-movie-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x01-1-left-bar .check-movie-4 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .domestic-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .overseas-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .recommand-result-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .my-book-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x01-1-left-bar .my-book-4 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .my-page-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .recommended-books-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .resently-searched-movies-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .shop-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x01-1-left-bar .shop-4 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .yes24-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .aladin-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .kyobo-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x01-1-left-bar .overlap-group1-1 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x01-1-left-bar .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
