/* screen - 02-checkmovie */

.x02-checkmovie {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1860px;
  overflow: hidden;
  width: 1440px;
}

.x02-checkmovie .overlap-group-container {
  height: 207px;
  position: relative;
  width: 1444px;
}

.x02-checkmovie .checkmovie-container {
  background-image: url(../img/rectangle-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x02-checkmovie .checkmovie {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 452px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x02-checkmovie .checkmovie-1 {
  -webkit-text-stroke: 0.15px var(--black-2);
  left: 448px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 100px #00000040;
  top: 64px;
  width: 546px;
}

.x02-checkmovie .overlap-group7 {
  align-items: center;
  background-color: var(--iron);
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: -2px;
  min-width: 1444px;
  padding: 0 170px;
  position: absolute;
  top: -2px;
}

.x02-checkmovie .navbar {
  align-items: flex-start;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 19px;
  margin-top: 1.0px;
  min-width: 300px;
}

.x02-checkmovie .navbar-link-place {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
}

.x02-checkmovie .navbar-link-login {
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 19px;
  min-width: 38px;
  text-align: center;
}

.x02-checkmovie .navbar-link-sign-up {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 19px;
  min-width: 53px;
  text-align: center;
}

.x02-checkmovie .navbar-link-my-page {
  letter-spacing: 0;
  margin-left: 27px;
  min-height: 19px;
  min-width: 59px;
  text-align: center;
}

.x02-checkmovie .overlap-group3 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 545px;
  min-width: 36px;
  padding: 8px 9px;
}

.x02-checkmovie .text-41 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 14px;
  text-align: center;
}

.x02-checkmovie .overlap-group1 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 38px;
  min-width: 36px;
  padding: 8px 10px;
}

.x02-checkmovie .text-39 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 9px;
  text-align: center;
}

.x02-checkmovie .overlap-group2 {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 38px;
  min-width: 36px;
  padding: 7px 9px;
}

.x02-checkmovie .text-40 {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 13px;
  text-align: center;
}

.x02-checkmovie .overlap-group {
  align-items: flex-start;
  background-color: var(--blue-zodiac);
  border-radius: 18px;
  display: flex;
  height: 36px;
  margin-left: 38px;
  min-width: 36px;
  padding: 8px;
}

.x02-checkmovie .text-38 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 14px;
  text-align: center;
}

.x02-checkmovie .left_-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 70px;
  width: 1450px;
}

.x02-checkmovie .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  margin-right: 118.0px;
  min-width: 1202px;
}

.x02-checkmovie .overlap-group5 {
  align-items: center;
  background-color: var(--blue-zodiac);
  display: flex;
  height: 70px;
  min-width: 70px;
  padding: 0 17px;
}

.x02-checkmovie .text-37 {
  letter-spacing: 0;
  min-height: 40px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-checkmovie .check-movie {
  color: var(--cornflower-lilac);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 132px;
  min-height: 40px;
  min-width: 170px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-checkmovie .recommand {
  height: 31px;
  margin-left: 120px;
  margin-top: 8.0px;
  width: 174px;
}

.x02-checkmovie .my-book {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 145px;
  min-height: 40px;
  min-width: 116px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-checkmovie .shop {
  letter-spacing: 0;
  margin-left: 208px;
  min-height: 40px;
  min-width: 66px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-checkmovie .rectangle-3 {
  height: 70px;
  margin-top: 137px;
  object-fit: cover;
  width: 1440px;
}

.x02-checkmovie .overlap-group12 {
  height: 1283px;
  margin-left: -2px;
  position: relative;
  width: 1440px;
}

.x02-checkmovie .overlap-group4 {
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x02-checkmovie .coming-up {
  align-items: flex-end;
  display: flex;
  height: 1283px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 93px 100px;
  position: absolute;
  top: 0;
}

.x02-checkmovie .overlap-group1-1 {
  align-items: flex-start;
  background-image: url(../img/image-8@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 1096px;
  min-width: 1221px;
  padding: 30px 137px;
}

.x02-checkmovie .domestic {
  color: var(--cornflower-lilac);
  font-family: var(--font-family-abril_fatface);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 54px;
  min-width: 173px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-checkmovie .over-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  min-height: 964px;
  width: 735px;
}

.x02-checkmovie .overseas {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 54px;
  min-width: 168px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.x02-checkmovie .overlap-group2-1 {
  height: 834px;
  margin-top: 76px;
  position: relative;
  width: 655px;
}

.x02-checkmovie .image-4 {
  height: 803px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 639px;
}

.x02-checkmovie .image-3 {
  height: 821px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 583px;
}

.x02-checkmovie .image-1 {
  height: 826px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 552px;
}

.x02-checkmovie .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--mischka);
  border: 3px solid var(--black-6);
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  left: 52px;
  min-width: 78px;
  padding: 24px 16px;
  position: absolute;
  top: 60px;
}

.x02-checkmovie .text-35 {
  color: var(--tulip-tree);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 40px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x02-checkmovie .overlap-group3-1 {
  height: 102px;
  left: 1123px;
  position: absolute;
  top: 615px;
  width: 100px;
}

.x02-checkmovie .rectangle-18 {
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  height: 100px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 100px;
}

.x02-checkmovie .text-36 {
  left: 41px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 0;
  width: 25px;
}

.x02-checkmovie .overlap-group8 {
  height: 105px;
  left: 254px;
  position: absolute;
  top: 620px;
  width: 100px;
}

.x02-checkmovie .rectangle-18-1 {
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.x02-checkmovie .text-42 {
  left: 35px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 38px;
  width: 25px;
}

.x02-checkmovie .caption-bg {
  background-color: var(--blue-zodiac-3);
  border-radius: 4px;
  height: 50px;
  left: 593px;
  position: absolute;
  top: 1110px;
  width: 254px;
}

.x02-checkmovie .text-43 {
  left: 674px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  top: 1122px;
  white-space: nowrap;
}

.x02-checkmovie .overlap-group9 {
  align-items: flex-start;
  background-color: var(--mischka);
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  left: 485px;
  min-width: 78px;
  padding: 26px 18px;
  position: absolute;
  top: 314px;
}

.x02-checkmovie .text-4 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 40px;
  text-align: justify;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.x02-checkmovie .overlap-group10 {
  align-items: flex-start;
  background-color: var(--tulip-tree);
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 78px;
  left: 314px;
  min-width: 78px;
  padding: 26px 18px;
  position: absolute;
  top: 314px;
}

.x02-checkmovie .footer {
  align-items: flex-start;
  display: flex;
  height: 300px;
  min-width: 1442px;
}

.x02-checkmovie .overlap-group-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 1440px;
}

.x02-checkmovie .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 168px;
  margin-right: 64.0px;
  margin-top: 51px;
  min-width: 1016px;
}

.x02-checkmovie .check-movie-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  width: 214px;
}

.x02-checkmovie .check-movie-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 137px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .domestic-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 101px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .overseas-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 96px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .recommand-result {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 206px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .my-book-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 284px;
}

.x02-checkmovie .my-book-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 93px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .my-page {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 90px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .recommended-books {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 228px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .resently-searched-movies {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 276px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .shop-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  min-height: 168px;
  width: 88px;
}

.x02-checkmovie .shop-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 54px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .yes24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 62px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .aladin {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 71px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .kyobo {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 80px;
  text-align: justify;
  white-space: nowrap;
}

.x02-checkmovie .overlap-group1-2 {
  align-items: center;
  background-color: var(--vulcan);
  display: flex;
  height: 40px;
  margin-top: 41px;
  min-width: 1440px;
  padding: 0 624px;
}

.x02-checkmovie .copyright {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 187px;
  text-align: justify;
  white-space: nowrap;
}
